html.d {
  background-color: rgba(255, 255, 255, 1);
}

html.m {
  background-color: rgba(255, 255, 255, 1);
}

.d .st-d-title {
  color: rgba(0, 0, 0, 1);
  line-height: 1.2;
  letter-spacing: 0em;
  font-size: 54px;
  text-align: left;
  font-family: 'Cormorant';
  font-weight: 400;
  font-style: normal;
}

.d .st-d-title.se-rc a {
  color: rgba(0, 0, 0, 1);
}

.d .st-d-title.se-rc a:hover {
  text-decoration: underline;
  color: rgba(0, 0, 0, 1);
  opacity: 0.8;
}

.m .st-m-title {
  color: rgba(0, 0, 0, 1);
  line-height: 1.2;
  letter-spacing: 0em;
  font-size: 36px;
  text-align: left;
  font-family: 'Cormorant';
  font-weight: 400;
  font-style: normal;
}

.m .st-m-title.se-rc a {
  color: rgba(0, 0, 0, 1);
}

.m .st-m-title.se-rc a:hover {
  text-decoration: underline;
  color: rgba(0, 0, 0, 1);
  opacity: 0.8;
}

.d .st-d-heading {
  color: rgba(0, 0, 0, 1);
  text-transform: uppercase;
  line-height: 1.2;
  letter-spacing: 0.1em;
  font-size: 50px;
  text-align: left;
  font-family: 'Oswald';
  font-weight: 400;
  font-style: normal;
}

.d .st-d-heading.se-rc a {
  color: rgba(0, 0, 0, 1);
}

.d .st-d-heading.se-rc a:hover {
  text-decoration: underline;
  color: rgba(0, 0, 0, 1);
  opacity: 0.8;
}

.m .st-m-heading {
  color: rgba(0, 0, 0, 1);
  text-transform: uppercase;
  line-height: 1.2;
  letter-spacing: 0.1em;
  font-size: 26px;
  text-align: center;
  font-family: 'Oswald';
  font-weight: 400;
  font-style: normal;
}

.m .st-m-heading.se-rc a {
  color: rgba(0, 0, 0, 1);
}

.m .st-m-heading.se-rc a:hover {
  text-decoration: underline;
  color: rgba(0, 0, 0, 1);
  opacity: 0.8;
}

.d .st-d-subheading {
  color: rgba(0, 0, 0, 1);
  text-transform: uppercase;
  line-height: 1.8;
  letter-spacing: 0.1em;
  font-size: 20px;
  text-align: center;
  font-family: 'Paris Sans';
  font-weight: 400;
  font-style: normal;
}

.d .st-d-subheading.se-rc a {
  color: rgba(0, 0, 0, 1);
}

.d .st-d-subheading.se-rc a:hover {
  text-decoration: underline;
  color: rgba(0, 0, 0, 1);
  opacity: 0.8;
}

.m .st-m-subheading {
  color: rgba(0, 0, 0, 1);
  text-transform: uppercase;
  line-height: 1.8;
  letter-spacing: 0.1em;
  font-size: 16px;
  text-align: center;
  font-family: 'Paris Sans';
  font-weight: 400;
  font-style: normal;
}

.m .st-m-subheading.se-rc a {
  color: rgba(0, 0, 0, 1);
}

.m .st-m-subheading.se-rc a:hover {
  text-decoration: underline;
  color: rgba(0, 0, 0, 1);
  opacity: 0.8;
}

.d .st-d-paragraph {
  color: rgba(0, 0, 0, 1);
  line-height: 1.5;
  letter-spacing: 0em;
  font-size: 18px;
  text-align: left;
  font-family: 'Cormorant';
  font-weight: 400;
  font-style: normal;
}

.d .st-d-paragraph.se-rc a {
  color: rgba(0, 0, 0, 1);
}

.d .st-d-paragraph.se-rc a:hover {
  text-decoration: underline;
  color: rgba(0, 0, 0, 1);
  opacity: 0.8;
}

.m .st-m-paragraph {
  color: rgba(0, 0, 0, 1);
  line-height: 1.5;
  letter-spacing: 0em;
  font-size: 15px;
  text-align: left;
  font-family: 'Cormorant';
  font-weight: 400;
  font-style: normal;
}

.m .st-m-paragraph.se-rc a {
  color: rgba(0, 0, 0, 1);
}

.m .st-m-paragraph.se-rc a:hover {
  text-decoration: underline;
  color: rgba(0, 0, 0, 1);
  opacity: 0.8;
}

.sib-header-menu {
  z-index: 10;
}

.m .sib-header-menu {
  height: 1px;
}

.d .sib-header-menu {
  height: 1px;
}

.m .sib-header-menu .ss-bg {
  background-color: rgba(177, 178, 181, 1);
}

.d .sib-header-menu .ss-bg {
  background-color: rgba(177, 178, 181, 1);
}

.m .sib-header-menu .sis-header-menu_main-view {
  background-color: transparent;
}

.d .sib-header-menu .sis-header-menu_main-view {
  background-color: transparent;
}

.d .sie-header-menu_main-view_0 {
  left: 57px;
  top: 33px;
  width: 1086px;
  height: 65px;
}

.m .sie-header-menu_main-view_0 {
  left: 16px;
  top: 30px;
  width: 289px;
  height: 47px;
}

.d .sie-header-menu_main-view_0 .se-simple {
  background-color: rgba(255, 255, 255, 1);
}

.m .sie-header-menu_main-view_0 .se-simple {
  background-color: rgba(255, 255, 255, 1);
}

.d .sie-header-menu_main-view_1 {
  left: 529px;
  top: 8px;
  width: 143px;
  height: 111px;
}

.m .sie-header-menu_main-view_1 {
  left: 23px;
  top: 14px;
  width: 87px;
  height: 63px;
}

.d .sie-header-menu_main-view_1-text {
  color: rgba(0, 0, 0, 1);
  text-transform: none;
  line-height: 1.2;
  letter-spacing: 0em;
  font-size: 120px;
  text-align: center;
  font-family: 'Bird and Thorn';
  font-weight: 400;
  font-style: normal;
}

.m .sie-header-menu_main-view_1-text {
  color: rgba(0, 0, 0, 1);
  text-transform: none;
  line-height: 1.2;
  letter-spacing: 0em;
  font-size: 72px;
  text-align: center;
  font-family: 'Bird and Thorn';
  font-weight: 400;
  font-style: normal;
}

.d .sie-header-menu_main-view_2 {
  left: 550px;
  top: -49px;
  width: 100px;
  height: 100px;
  display: none;
}

.m .sie-header-menu_main-view_2 {
  left: 246px;
  top: 34px;
  width: 40px;
  height: 40px;
}

.d .sie-header-menu_main-view_2 svg {
  fill: rgba(255, 243, 238, 1);
}

.m .sie-header-menu_main-view_2 svg {
  fill: rgba(0, 0, 0, 1);
}

.d .sie-header-menu_main-view_3 {
  left: 87px;
  top: 54px;
  width: 51px;
  height: 23px;
}

.m .sie-header-menu_main-view_3 {
  left: 49px;
  top: 182px;
  width: 102px;
  height: 17px;
  display: none;
}

.d .sie-header-menu_main-view_3-text {
  color: rgba(0, 0, 0, 1);
  text-transform: uppercase;
  line-height: 1.8;
  letter-spacing: 0.1em;
  font-size: 14px;
  text-align: center;
  font-family: 'Nunito Sans';
  font-weight: 400;
  font-style: normal;
}

.m .sie-header-menu_main-view_3-text {
  color: rgba(0, 0, 0, 1);
  text-transform: uppercase;
  line-height: 1.8;
  letter-spacing: 0.1em;
  font-size: 16px;
  text-align: center;
  font-family: 'Paris Sans';
  font-weight: 400;
  font-style: normal;
}

.d .sie-header-menu_main-view_4 {
  left: 190px;
  top: 54px;
  width: 60px;
  height: 23px;
}

.m .sie-header-menu_main-view_4 {
  left: 202px;
  top: 109px;
  width: 102px;
  height: 17px;
  display: none;
}

.d .sie-header-menu_main-view_4-text {
  color: rgba(0, 0, 0, 1);
  text-transform: uppercase;
  line-height: 1.8;
  letter-spacing: 0.1em;
  font-size: 14px;
  text-align: center;
  font-family: 'Nunito Sans';
  font-weight: 400;
  font-style: normal;
}

.m .sie-header-menu_main-view_4-text {
  color: rgba(0, 0, 0, 1);
  text-transform: uppercase;
  line-height: 1.8;
  letter-spacing: 0.1em;
  font-size: 16px;
  text-align: center;
  font-family: 'Paris Sans';
  font-weight: 400;
  font-style: normal;
}

.d .sie-header-menu_main-view_5 {
  left: 881px;
  top: 54px;
  width: 51px;
  height: 23px;
}

.m .sie-header-menu_main-view_5 {
  left: 126px;
  top: 187px;
  width: 102px;
  height: 17px;
  display: none;
}

.d .sie-header-menu_main-view_5-text {
  color: rgba(0, 0, 0, 1);
  text-transform: uppercase;
  line-height: 1.8;
  letter-spacing: 0.1em;
  font-size: 14px;
  text-align: center;
  font-family: 'Nunito Sans';
  font-weight: 400;
  font-style: normal;
}

.m .sie-header-menu_main-view_5-text {
  color: rgba(0, 0, 0, 1);
  text-transform: uppercase;
  line-height: 1.8;
  letter-spacing: 0.1em;
  font-size: 16px;
  text-align: center;
  font-family: 'Paris Sans';
  font-weight: 400;
  font-style: normal;
}

.d .sie-header-menu_main-view_6 {
  left: 301px;
  top: 54px;
  width: 158px;
  height: 23px;
}

.m .sie-header-menu_main-view_6 {
  left: 19px;
  top: 130px;
  width: 102px;
  height: 17px;
  display: none;
}

.d .sie-header-menu_main-view_6-text {
  color: rgba(0, 0, 0, 1);
  text-transform: uppercase;
  line-height: 1.8;
  letter-spacing: 0.1em;
  font-size: 14px;
  text-align: center;
  font-family: 'Nunito Sans';
  font-weight: 400;
  font-style: normal;
}

.m .sie-header-menu_main-view_6-text {
  color: rgba(0, 0, 0, 1);
  text-transform: uppercase;
  line-height: 1.8;
  letter-spacing: 0.1em;
  font-size: 16px;
  text-align: center;
  font-family: 'Paris Sans';
  font-weight: 400;
  font-style: normal;
}

.d .sie-header-menu_main-view_7 {
  left: 742px;
  top: 54px;
  width: 88px;
  height: 23px;
}

.m .sie-header-menu_main-view_7 {
  left: 13px;
  top: 164px;
  width: 102px;
  height: 17px;
  display: none;
}

.d .sie-header-menu_main-view_7-text {
  color: rgba(0, 0, 0, 1);
  text-transform: uppercase;
  line-height: 1.8;
  letter-spacing: 0.1em;
  font-size: 14px;
  text-align: center;
  font-family: 'Nunito Sans';
  font-weight: 400;
  font-style: normal;
}

.m .sie-header-menu_main-view_7-text {
  color: rgba(0, 0, 0, 1);
  text-transform: uppercase;
  line-height: 1.8;
  letter-spacing: 0.1em;
  font-size: 16px;
  text-align: center;
  font-family: 'Paris Sans';
  font-weight: 400;
  font-style: normal;
}

.d .sie-header-menu_main-view_8 {
  left: 990px;
  top: 55px;
  width: 24px;
  height: 22px;
}

.m .sie-header-menu_main-view_8 {
  left: 108px;
  top: 140px;
  width: 50px;
  height: 50px;
  display: none;
}

.d .sie-header-menu_main-view_8 svg {
  fill: rgba(0, 0, 0, 1);
}

.m .sie-header-menu_main-view_8 svg {
  fill: rgba(255, 243, 238, 1);
}

.d .sie-header-menu_main-view_9 {
  left: 1036px;
  top: 55px;
  width: 24px;
  height: 22px;
}

.m .sie-header-menu_main-view_9 {
  left: 168px;
  top: 138px;
  width: 50px;
  height: 50px;
  display: none;
}

.d .sie-header-menu_main-view_9 svg {
  fill: rgba(0, 0, 0, 1);
}

.m .sie-header-menu_main-view_9 svg {
  fill: rgba(255, 243, 238, 1);
}

.d .sie-header-menu_main-view_10 {
  left: 1087px;
  top: 55px;
  width: 24px;
  height: 22px;
}

.m .sie-header-menu_main-view_10 {
  left: 226px;
  top: 136px;
  width: 50px;
  height: 50px;
  display: none;
}

.d .sie-header-menu_main-view_10 svg {
  fill: rgba(0, 0, 0, 1);
}

.m .sie-header-menu_main-view_10 svg {
  fill: rgba(255, 243, 238, 1);
}

.m .sib-header-menu .sis-header-menu_mobile-menu-view {
  background-color: transparent;
}

.d .sib-header-menu .sis-header-menu_mobile-menu-view {
  background-color: transparent;
}

.d .sie-header-menu_mobile-menu-view_0 {
  left: 67px;
  top: 43px;
  width: 1086px;
  height: 65px;
  display: none;
}

.m .sie-header-menu_mobile-menu-view_0 {
  left: 16px;
  top: 30px;
  width: 289px;
  height: 47px;
}

.d .sie-header-menu_mobile-menu-view_0 .se-simple {
  background-color: rgba(255, 255, 255, 1);
}

.m .sie-header-menu_mobile-menu-view_0 .se-simple {
  background-color: rgba(255, 255, 255, 1);
}

.d .sie-header-menu_mobile-menu-view_1 {
  left: 539px;
  top: 18px;
  width: 143px;
  height: 111px;
  display: none;
}

.m .sie-header-menu_mobile-menu-view_1 {
  left: 23px;
  top: 14px;
  width: 87px;
  height: 63px;
}

.d .sie-header-menu_mobile-menu-view_1-text {
  color: rgba(0, 0, 0, 1);
  text-transform: none;
  line-height: 1.2;
  letter-spacing: 0em;
  font-size: 120px;
  text-align: center;
  font-family: 'Bird and Thorn';
  font-weight: 400;
  font-style: normal;
}

.m .sie-header-menu_mobile-menu-view_1-text {
  color: rgba(0, 0, 0, 1);
  text-transform: none;
  line-height: 1.2;
  letter-spacing: 0em;
  font-size: 72px;
  text-align: center;
  font-family: 'Bird and Thorn';
  font-weight: 400;
  font-style: normal;
}

.d .sie-header-menu_mobile-menu-view_2 {
  left: 560px;
  top: -39px;
  width: 100px;
  height: 100px;
  display: none;
}

.m .sie-header-menu_mobile-menu-view_2 {
  left: 246px;
  top: 34px;
  width: 40px;
  height: 40px;
}

.d .sie-header-menu_mobile-menu-view_2 svg {
  fill: rgba(255, 243, 238, 1);
}

.m .sie-header-menu_mobile-menu-view_2 svg {
  fill: rgba(0, 0, 0, 1);
}

.sib-mobile-menu {
  z-index: 9;
}

.m .sib-mobile-menu {
  height: 1px;
  display: none;
}

.d .sib-mobile-menu {
  height: 400px;
  display: none;
}

.m .sib-mobile-menu .ss-bg {
  background-color: rgba(177, 178, 181, 1);
}

.d .sib-mobile-menu .ss-bg {
  background-color: rgba(255, 255, 255, 1);
}

.d .sie-mobile-menu_0 {
  left: 360px;
  top: 120px;
  width: 480px;
  height: 160px;
}

.m .sie-mobile-menu_0 {
  left: 16px;
  top: 79px;
  width: 289px;
  height: 320px;
}

.d .sie-mobile-menu_0 .se-simple {
  background-color: rgba(0, 0, 0, 1);
}

.m .sie-mobile-menu_0 .se-simple {
  background-color: rgba(255, 255, 255, 1);
}

.d .sie-mobile-menu_1 {
  left: 87px;
  top: 54px;
  width: 51px;
  height: 23px;
}

.m .sie-mobile-menu_1 {
  left: 128px;
  top: 110px;
  width: 65px;
  height: 21px;
}

.d .sie-mobile-menu_1-text {
  color: rgba(0, 0, 0, 1);
  text-transform: uppercase;
  line-height: 1.8;
  letter-spacing: 0.04em;
  font-size: 20px;
  text-align: center;
  font-family: 'Nunito Sans';
  font-weight: 400;
  font-style: normal;
}

.m .sie-mobile-menu_1-text {
  color: rgba(0, 0, 0, 1);
  text-transform: uppercase;
  line-height: 1.8;
  letter-spacing: 0.1em;
  font-size: 14px;
  text-align: center;
  font-family: 'Nunito Sans';
  font-weight: 400;
  font-style: normal;
}

.d .sie-mobile-menu_2 {
  left: 881px;
  top: 54px;
  width: 51px;
  height: 23px;
}

.m .sie-mobile-menu_2 {
  left: 128px;
  top: 282px;
  width: 64px;
  height: 22px;
}

.d .sie-mobile-menu_2-text {
  color: rgba(0, 0, 0, 1);
  text-transform: uppercase;
  line-height: 1.8;
  letter-spacing: 0.04em;
  font-size: 20px;
  text-align: center;
  font-family: 'Nunito Sans';
  font-weight: 400;
  font-style: normal;
}

.m .sie-mobile-menu_2-text {
  color: rgba(0, 0, 0, 1);
  text-transform: uppercase;
  line-height: 1.8;
  letter-spacing: 0.1em;
  font-size: 14px;
  text-align: center;
  font-family: 'Nunito Sans';
  font-weight: 400;
  font-style: normal;
}

.d .sie-mobile-menu_3 {
  left: 198px;
  top: 54px;
  width: 51px;
  height: 23px;
}

.m .sie-mobile-menu_3 {
  left: 122px;
  top: 153px;
  width: 76px;
  height: 22px;
}

.d .sie-mobile-menu_3-text {
  color: rgba(0, 0, 0, 1);
  text-transform: uppercase;
  line-height: 1.8;
  letter-spacing: 0.04em;
  font-size: 20px;
  text-align: center;
  font-family: 'Nunito Sans';
  font-weight: 400;
  font-style: normal;
}

.m .sie-mobile-menu_3-text {
  color: rgba(0, 0, 0, 1);
  text-transform: uppercase;
  line-height: 1.8;
  letter-spacing: 0.1em;
  font-size: 14px;
  text-align: center;
  font-family: 'Nunito Sans';
  font-weight: 400;
  font-style: normal;
}

.d .sie-mobile-menu_4 {
  left: 308px;
  top: 54px;
  width: 151px;
  height: 23px;
}

.m .sie-mobile-menu_4 {
  left: 80px;
  top: 196px;
  width: 160px;
  height: 23px;
}

.d .sie-mobile-menu_4-text {
  color: rgba(0, 0, 0, 1);
  text-transform: uppercase;
  line-height: 1.8;
  letter-spacing: 0.04em;
  font-size: 20px;
  text-align: center;
  font-family: 'Nunito Sans';
  font-weight: 400;
  font-style: normal;
}

.m .sie-mobile-menu_4-text {
  color: rgba(0, 0, 0, 1);
  text-transform: uppercase;
  line-height: 1.8;
  letter-spacing: 0.1em;
  font-size: 14px;
  text-align: center;
  font-family: 'Nunito Sans';
  font-weight: 400;
  font-style: normal;
}

.d .sie-mobile-menu_5 {
  left: 742px;
  top: 54px;
  width: 88px;
  height: 23px;
}

.m .sie-mobile-menu_5 {
  left: 117px;
  top: 239px;
  width: 86px;
  height: 22px;
}

.d .sie-mobile-menu_5-text {
  color: rgba(0, 0, 0, 1);
  text-transform: uppercase;
  line-height: 1.8;
  letter-spacing: 0.04em;
  font-size: 20px;
  text-align: center;
  font-family: 'Nunito Sans';
  font-weight: 400;
  font-style: normal;
}

.m .sie-mobile-menu_5-text {
  color: rgba(0, 0, 0, 1);
  text-transform: uppercase;
  line-height: 1.8;
  letter-spacing: 0.1em;
  font-size: 14px;
  text-align: center;
  font-family: 'Nunito Sans';
  font-weight: 400;
  font-style: normal;
}

.d .sie-mobile-menu_6 {
  left: 990px;
  top: 55px;
  width: 24px;
  height: 22px;
}

.m .sie-mobile-menu_6 {
  left: 91px;
  top: 336px;
  width: 30px;
  height: 30px;
}

.d .sie-mobile-menu_6 svg {
  fill: rgba(0, 0, 0, 1);
}

.m .sie-mobile-menu_6 svg {
  fill: rgba(0, 0, 0, 1);
}

.d .sie-mobile-menu_7 {
  left: 1036px;
  top: 55px;
  width: 24px;
  height: 22px;
}

.m .sie-mobile-menu_7 {
  left: 145px;
  top: 336px;
  width: 30px;
  height: 30px;
}

.d .sie-mobile-menu_7 svg {
  fill: rgba(0, 0, 0, 1);
}

.m .sie-mobile-menu_7 svg {
  fill: rgba(0, 0, 0, 1);
}

.d .sie-mobile-menu_8 {
  left: 1087px;
  top: 55px;
  width: 24px;
  height: 22px;
}

.m .sie-mobile-menu_8 {
  left: 206px;
  top: 336px;
  width: 30px;
  height: 30px;
}

.d .sie-mobile-menu_8 svg {
  fill: rgba(0, 0, 0, 1);
}

.m .sie-mobile-menu_8 svg {
  fill: rgba(0, 0, 0, 1);
}

.d .sie-mobile-menu_9 {
  left: 360px;
  top: 120px;
  width: 480px;
  height: 160px;
}

.m .sie-mobile-menu_9 {
  left: 16px;
  top: 382px;
  width: 289px;
  height: 1px;
}

.d .sie-mobile-menu_9 .se-simple {
  background-color: rgba(0, 0, 0, 1);
}

.m .sie-mobile-menu_9 .se-simple {
  background-color: rgba(255, 243, 238, 1);
}

.d .sie-mobile-menu_10 {
  left: 370px;
  top: 130px;
  width: 480px;
  height: 160px;
}

.m .sie-mobile-menu_10 {
  left: 16px;
  top: 387px;
  width: 289px;
  height: 3px;
}

.d .sie-mobile-menu_10 .se-simple {
  background-color: rgba(0, 0, 0, 1);
}

.m .sie-mobile-menu_10 .se-simple {
  background-color: rgba(255, 243, 238, 1);
}

.m .sib-blog-header {
  height: 408px;
}

.d .sib-blog-header {
  height: 600px;
}

.m .sib-blog-header .ss-bg {
  background-color: rgba(0, 0, 0, 1);
}

.d .sib-blog-header .ss-bg {
  background-color: rgba(0, 0, 0, 1);
}

.d .sie-blog-header_0 {
  left: 248px;
  top: 226px;
  width: 704px;
  height: 66px;
}

.m .sie-blog-header_0 {
  left: 33px;
  top: 167px;
  width: 255px;
  height: 31px;
}

.d .sie-blog-header_0-text {
  color: rgba(255, 255, 255, 1);
  text-transform: uppercase;
  line-height: 1.2;
  letter-spacing: 0.1em;
  font-size: 50px;
  text-align: center;
  font-family: 'Oswald';
  font-weight: 400;
  font-style: normal;
}

.m .sie-blog-header_0-text {
  color: rgba(255, 255, 255, 1);
  text-transform: uppercase;
  line-height: 1.2;
  letter-spacing: 0.1em;
  font-size: 26px;
  text-align: center;
  font-family: 'Oswald';
  font-weight: 400;
  font-style: normal;
}

.d .sie-blog-header_1 {
  left: 310px;
  top: 339px;
  width: 581px;
  height: 68px;
}

.m .sie-blog-header_1 {
  left: 30px;
  top: 246px;
  width: 261px;
  height: 55px;
}

.d .sie-blog-header_1-text {
  color: rgba(255, 255, 255, 1);
  text-transform: uppercase;
  line-height: 1.8;
  letter-spacing: 0.1em;
  font-size: 20px;
  text-align: center;
  font-family: 'Paris Sans';
  font-weight: 400;
  font-style: normal;
}

.m .sie-blog-header_1-text {
  color: rgba(255, 255, 255, 1);
  text-transform: uppercase;
  line-height: 1.8;
  letter-spacing: 0.1em;
  font-size: 16px;
  text-align: center;
  font-family: 'Paris Sans';
  font-weight: 400;
  font-style: normal;
}

.d .sie-blog-header_2 {
  left: 500px;
  top: 307px;
  width: 200px;
  height: 2px;
}

.m .sie-blog-header_2 {
  left: 100px;
  top: 217px;
  width: 120px;
  height: 1px;
}

.d .sie-blog-header_2 .se-simple {
  background-color: rgba(255, 224, 213, 1);
}

.m .sie-blog-header_2 .se-simple {
  background-color: rgba(255, 224, 213, 1);
}

.d .sie-blog-header_3 {
  left: 500px;
  top: 317px;
  width: 200px;
  height: 4px;
}

.m .sie-blog-header_3 {
  left: 100px;
  top: 224px;
  width: 120px;
  height: 3px;
}

.d .sie-blog-header_3 .se-simple {
  background-color: rgba(255, 224, 213, 1);
}

.m .sie-blog-header_3 .se-simple {
  background-color: rgba(255, 224, 213, 1);
}

.sib-categores {
  z-index: 1;
}

.m .sib-categores {
  height: 1027px;
}

.d .sib-categores {
  height: 542px;
}

.m .sib-categores .ss-bg {
  background-color: rgba(255, 255, 255, 1);
}

.d .sib-categores .ss-bg {
  background-color: rgba(255, 255, 255, 1);
}

.d .sie-categores_0 {
  left: 53px;
  top: -149px;
  width: 344px;
  height: 494px;
}

.m .sie-categores_0 {
  left: 30px;
  top: -19px;
  width: 260px;
  height: 200px;
}

.d .sie-categores_0 .se-simple {
  background-color: rgba(236, 237, 242, 1);
}

.m .sie-categores_0 .se-simple {
  background-color: rgba(236, 237, 242, 1);
}

.d .sie-categores_1 {
  left: 75px;
  top: -127px;
  width: 300px;
  height: 450px;
}

.m .sie-categores_1 {
  left: 50px;
  top: 1px;
  width: 220px;
  height: 160px;
}

.d .sie-categores_1 .se-img {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

.m .sie-categores_1 .se-img {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

.d .sie-categores_2 {
  left: 428px;
  top: 63px;
  width: 344px;
  height: 282px;
}

.m .sie-categores_2 {
  left: 30px;
  top: 660px;
  width: 260px;
  height: 200px;
}

.d .sie-categores_2 .se-simple {
  background-color: rgba(236, 237, 242, 1);
}

.m .sie-categores_2 .se-simple {
  background-color: rgba(236, 237, 242, 1);
}

.d .sie-categores_3 {
  left: 450px;
  top: 86px;
  width: 300px;
  height: 237px;
}

.m .sie-categores_3 {
  left: 50px;
  top: 680px;
  width: 220px;
  height: 160px;
}

.d .sie-categores_3 .se-img {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 82% 82%;
}

.m .sie-categores_3 .se-img {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

.d .sie-categores_4 {
  left: 803px;
  top: -64px;
  width: 344px;
  height: 409px;
}

.m .sie-categores_4 {
  left: 30px;
  top: 319px;
  width: 260px;
  height: 200px;
}

.d .sie-categores_4 .se-simple {
  background-color: rgba(236, 237, 242, 1);
}

.m .sie-categores_4 .se-simple {
  background-color: rgba(236, 237, 242, 1);
}

.d .sie-categores_5 {
  left: 825px;
  top: -41px;
  width: 300px;
  height: 364px;
}

.m .sie-categores_5 {
  left: 50px;
  top: 339px;
  width: 220px;
  height: 160px;
}

.d .sie-categores_5 .se-img {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

.m .sie-categores_5 .se-img {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

.d .sie-categores_6 {
  left: 128px;
  top: 365px;
  width: 194px;
  height: 73px;
}

.m .sie-categores_6 {
  left: 78px;
  top: 206px;
  width: 164px;
  height: 64px;
}

.d .sie-categores_6 .se-simple {
  background-color: rgba(255, 224, 213, 1);
}

.m .sie-categores_6 .se-simple {
  background-color: rgba(255, 224, 213, 1);
}

.d .sie-categores_7 {
  left: 147px;
  top: 384px;
  width: 157px;
  height: 35px;
}

.m .sie-categores_7 {
  left: 98px;
  top: 224px;
  width: 125px;
  height: 29px;
}

.d .sie-categores_7-text {
  color: rgba(0, 0, 0, 1);
  text-transform: uppercase;
  line-height: 1.8;
  letter-spacing: 0.1em;
  font-size: 20px;
  text-align: center;
  font-family: 'Paris Sans';
  font-weight: 400;
  font-style: normal;
}

.m .sie-categores_7-text {
  color: rgba(0, 0, 0, 1);
  text-transform: uppercase;
  line-height: 1.8;
  letter-spacing: 0.1em;
  font-size: 16px;
  text-align: center;
  font-family: 'Paris Sans';
  font-weight: 400;
  font-style: normal;
}

.d .sie-categores_8 {
  left: 503px;
  top: 365px;
  width: 194px;
  height: 73px;
}

.m .sie-categores_8 {
  left: 78px;
  top: 544px;
  width: 164px;
  height: 64px;
}

.d .sie-categores_8 .se-simple {
  background-color: rgba(255, 224, 213, 1);
}

.m .sie-categores_8 .se-simple {
  background-color: rgba(255, 224, 213, 1);
}

.d .sie-categores_9 {
  left: 522px;
  top: 384px;
  width: 157px;
  height: 35px;
}

.m .sie-categores_9 {
  left: 98px;
  top: 562px;
  width: 125px;
  height: 29px;
}

.d .sie-categores_9-text {
  color: rgba(0, 0, 0, 1);
  text-transform: uppercase;
  line-height: 1.8;
  letter-spacing: 0.1em;
  font-size: 20px;
  text-align: center;
  font-family: 'Paris Sans';
  font-weight: 400;
  font-style: normal;
}

.m .sie-categores_9-text {
  color: rgba(0, 0, 0, 1);
  text-transform: uppercase;
  line-height: 1.8;
  letter-spacing: 0.1em;
  font-size: 16px;
  text-align: center;
  font-family: 'Paris Sans';
  font-weight: 400;
  font-style: normal;
}

.d .sie-categores_10 {
  left: 878px;
  top: 365px;
  width: 194px;
  height: 73px;
}

.m .sie-categores_10 {
  left: 78px;
  top: 885px;
  width: 164px;
  height: 64px;
}

.d .sie-categores_10 .se-simple {
  background-color: rgba(255, 224, 213, 1);
}

.m .sie-categores_10 .se-simple {
  background-color: rgba(255, 224, 213, 1);
}

.d .sie-categores_11 {
  left: 897px;
  top: 384px;
  width: 157px;
  height: 35px;
}

.m .sie-categores_11 {
  left: 98px;
  top: 903px;
  width: 125px;
  height: 29px;
}

.d .sie-categores_11-text {
  color: rgba(0, 0, 0, 1);
  text-transform: uppercase;
  line-height: 1.8;
  letter-spacing: 0.1em;
  font-size: 20px;
  text-align: center;
  font-family: 'Paris Sans';
  font-weight: 400;
  font-style: normal;
}

.m .sie-categores_11-text {
  color: rgba(0, 0, 0, 1);
  text-transform: uppercase;
  line-height: 1.8;
  letter-spacing: 0.1em;
  font-size: 16px;
  text-align: center;
  font-family: 'Paris Sans';
  font-weight: 400;
  font-style: normal;
}

.d .sie-categores_12 {
  left: 57px;
  top: 482px;
  width: 1086px;
  height: 2px;
}

.m .sie-categores_12 {
  left: 16px;
  top: 993px;
  width: 289px;
  height: 1px;
}

.d .sie-categores_12 .se-simple {
  background-color: rgba(255, 224, 213, 1);
}

.m .sie-categores_12 .se-simple {
  background-color: rgba(255, 224, 213, 1);
}

.d .sie-categores_13 {
  left: 57px;
  top: 492px;
  width: 1086px;
  height: 4px;
}

.m .sie-categores_13 {
  left: 16px;
  top: 998px;
  width: 289px;
  height: 3px;
}

.d .sie-categores_13 .se-simple {
  background-color: rgba(255, 224, 213, 1);
}

.m .sie-categores_13 .se-simple {
  background-color: rgba(255, 224, 213, 1);
}

.sib-post-title-1 {
  z-index: 1;
}

.m .sib-post-title-1 {
  height: 332px;
}

.d .sib-post-title-1 {
  height: 152px;
}

.m .sib-post-title-1 .ss-bg {
  background-color: rgba(255, 243, 238, 1);
}

.d .sib-post-title-1 .ss-bg {
  background-color: rgba(255, 243, 238, 1);
}

.m .sib-post-title-1.sb-nm-dH .sc {
  height: 332px;
}

.d .sib-post-title-1.sb-nd-dH .sc {
  height: 152px;
}

.d .sie-post-title-1_0 {
  left: 57px;
  top: 66px;
  width: 489px;
  height: 442px;
}

.m .sie-post-title-1_0 {
  left: 20px;
  top: 22px;
  width: 280px;
  height: 240px;
}

.d .sie-post-title-1_0 .se-img {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

.m .sie-post-title-1_0 .se-img {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

.d .sie-post-title-1_1 {
  left: 587px;
  top: 66px;
  width: 552px;
  height: 64px;
}

.m .sie-post-title-1_1 {
  left: 31px;
  top: 292px;
  width: 260px;
  height: 31px;
}

.d .sie-post-title-1_1-text {
  color: rgba(0, 0, 0, 1);
  text-transform: uppercase;
  line-height: 1.2;
  letter-spacing: 0.1em;
  font-size: 50px;
  text-align: left;
  font-family: 'Oswald';
  font-weight: 400;
  font-style: normal;
}

.m .sie-post-title-1_1-text {
  color: rgba(0, 0, 0, 1);
  text-transform: uppercase;
  line-height: 1.2;
  letter-spacing: 0.1em;
  font-size: 26px;
  text-align: center;
  font-family: 'Oswald';
  font-weight: 400;
  font-style: normal;
}

.m .sib-post-category-1 {
  height: 56px;
}

.d .sib-post-category-1 {
  height: 53px;
}

.m .sib-post-category-1 .ss-bg {
  background-color: rgba(255, 243, 238, 1);
}

.d .sib-post-category-1 .ss-bg {
  background-color: rgba(255, 243, 238, 1);
}

.m .sib-post-category-1.sb-nm-dH .sc {
  height: 56px;
}

.d .sib-post-category-1.sb-nd-dH .sc {
  height: 53px;
}

.d .sie-post-category-1_0 {
  left: 587px;
  top: 3px;
  width: 552px;
  height: 36px;
}

.m .sie-post-category-1_0 {
  left: 20px;
  top: 14px;
  width: 280px;
  height: 28px;
}

.d .sie-post-category-1_0-text {
  color: rgba(0, 0, 0, 1);
  text-transform: uppercase;
  line-height: 1.8;
  letter-spacing: 0.1em;
  font-size: 20px;
  text-align: left;
  font-family: 'Paris Sans';
  font-weight: 400;
  font-style: normal;
}

.m .sie-post-category-1_0-text {
  color: rgba(0, 0, 0, 1);
  text-transform: uppercase;
  line-height: 1.8;
  letter-spacing: 0.1em;
  font-size: 16px;
  text-align: center;
  font-family: 'Paris Sans';
  font-weight: 400;
  font-style: normal;
}

.m .sib-post-excerpt-1 {
  height: 200px;
}

.d .sib-post-excerpt-1 {
  height: 130px;
}

.m .sib-post-excerpt-1 .ss-bg {
  background-color: rgba(255, 243, 238, 1);
}

.d .sib-post-excerpt-1 .ss-bg {
  background-color: rgba(255, 243, 238, 1);
}

.m .sib-post-excerpt-1.sb-nm-dH .sc {
  height: 200px;
}

.d .sib-post-excerpt-1.sb-nd-dH .sc {
  height: 130px;
}

.d .sie-post-excerpt-1_0 {
  left: 587px;
  top: 21px;
  width: 552px;
  height: 104px;
}

.m .sie-post-excerpt-1_0 {
  left: 20px;
  top: 22px;
  width: 280px;
  height: 156px;
}

.d .sie-post-excerpt-1_0-text {
  color: rgba(0, 0, 0, 1);
  text-transform: none;
  line-height: 1.5;
  letter-spacing: 0em;
  font-size: 18px;
  text-align: left;
  font-family: 'Cormorant';
  font-weight: 400;
  font-style: normal;
}

.m .sie-post-excerpt-1_0-text {
  color: rgba(0, 0, 0, 1);
  text-transform: none;
  line-height: 1.5;
  letter-spacing: 0em;
  font-size: 15px;
  text-align: left;
  font-family: 'Cormorant';
  font-weight: 400;
  font-style: normal;
}

.m .sib-post-button-1 {
  height: 169px;
}

.d .sib-post-button-1 {
  height: 236px;
}

.m .sib-post-button-1 .ss-bg {
  background-color: rgba(255, 243, 238, 1);
}

.d .sib-post-button-1 .ss-bg {
  background-color: rgba(255, 243, 238, 1);
}

.d .sie-post-button-1_0 {
  left: 587px;
  top: 44px;
  width: 194px;
  height: 73px;
}

.m .sie-post-button-1_0 {
  left: 78px;
  top: 28px;
  width: 164px;
  height: 64px;
}

.d .sie-post-button-1_0 .se-simple {
  background-color: rgba(255, 224, 213, 1);
}

.m .sie-post-button-1_0 .se-simple {
  background-color: rgba(255, 224, 213, 1);
}

.d .sie-post-button-1_1 {
  left: 606px;
  top: 63px;
  width: 157px;
  height: 35px;
}

.m .sie-post-button-1_1 {
  left: 98px;
  top: 46px;
  width: 125px;
  height: 29px;
}

.d .sie-post-button-1_1-text {
  color: rgba(0, 0, 0, 1);
  text-transform: uppercase;
  line-height: 1.8;
  letter-spacing: 0.1em;
  font-size: 20px;
  text-align: center;
  font-family: 'Paris Sans';
  font-weight: 400;
  font-style: normal;
}

.m .sie-post-button-1_1-text {
  color: rgba(0, 0, 0, 1);
  text-transform: uppercase;
  line-height: 1.8;
  letter-spacing: 0.1em;
  font-size: 16px;
  text-align: center;
  font-family: 'Paris Sans';
  font-weight: 400;
  font-style: normal;
}

.sib-post-title-2 {
  z-index: 1;
}

.m .sib-post-title-2 {
  height: 332px;
}

.d .sib-post-title-2 {
  height: 152px;
}

.m .sib-post-title-2 .ss-bg {
  background-color: rgba(255, 255, 255, 1);
}

.d .sib-post-title-2 .ss-bg {
  background-color: rgba(255, 255, 255, 1);
}

.m .sib-post-title-2.sb-nm-dH .sc {
  height: 332px;
}

.d .sib-post-title-2.sb-nd-dH .sc {
  height: 152px;
}

.d .sie-post-title-2_0 {
  left: 651px;
  top: 66px;
  width: 489px;
  height: 442px;
}

.m .sie-post-title-2_0 {
  left: 20px;
  top: 22px;
  width: 280px;
  height: 240px;
}

.d .sie-post-title-2_0 .se-img {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

.m .sie-post-title-2_0 .se-img {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

.d .sie-post-title-2_1 {
  left: 57px;
  top: 66px;
  width: 552px;
  height: 64px;
}

.m .sie-post-title-2_1 {
  left: 30px;
  top: 292px;
  width: 260px;
  height: 31px;
}

.d .sie-post-title-2_1-text {
  color: rgba(0, 0, 0, 1);
  text-transform: uppercase;
  line-height: 1.2;
  letter-spacing: 0.1em;
  font-size: 50px;
  text-align: left;
  font-family: 'Oswald';
  font-weight: 400;
  font-style: normal;
}

.m .sie-post-title-2_1-text {
  color: rgba(0, 0, 0, 1);
  text-transform: uppercase;
  line-height: 1.2;
  letter-spacing: 0.1em;
  font-size: 26px;
  text-align: center;
  font-family: 'Oswald';
  font-weight: 400;
  font-style: normal;
}

.m .sib-post-category-2 {
  height: 56px;
}

.d .sib-post-category-2 {
  height: 53px;
}

.m .sib-post-category-2 .ss-bg {
  background-color: rgba(255, 255, 255, 1);
}

.d .sib-post-category-2 .ss-bg {
  background-color: rgba(255, 255, 255, 1);
}

.m .sib-post-category-2.sb-nm-dH .sc {
  height: 56px;
}

.d .sib-post-category-2.sb-nd-dH .sc {
  height: 53px;
}

.d .sie-post-category-2_0 {
  left: 57px;
  top: 3px;
  width: 552px;
  height: 36px;
}

.m .sie-post-category-2_0 {
  left: 20px;
  top: 14px;
  width: 280px;
  height: 28px;
}

.d .sie-post-category-2_0-text {
  color: rgba(0, 0, 0, 1);
  text-transform: uppercase;
  line-height: 1.8;
  letter-spacing: 0.1em;
  font-size: 20px;
  text-align: left;
  font-family: 'Paris Sans';
  font-weight: 400;
  font-style: normal;
}

.m .sie-post-category-2_0-text {
  color: rgba(0, 0, 0, 1);
  text-transform: uppercase;
  line-height: 1.8;
  letter-spacing: 0.1em;
  font-size: 16px;
  text-align: center;
  font-family: 'Paris Sans';
  font-weight: 400;
  font-style: normal;
}

.m .sib-post-excerpt-2 {
  height: 200px;
}

.d .sib-post-excerpt-2 {
  height: 130px;
}

.m .sib-post-excerpt-2 .ss-bg {
  background-color: rgba(255, 255, 255, 1);
}

.d .sib-post-excerpt-2 .ss-bg {
  background-color: rgba(255, 255, 255, 1);
}

.m .sib-post-excerpt-2.sb-nm-dH .sc {
  height: 200px;
}

.d .sib-post-excerpt-2.sb-nd-dH .sc {
  height: 130px;
}

.d .sie-post-excerpt-2_0 {
  left: 57px;
  top: 21px;
  width: 552px;
  height: 104px;
}

.m .sie-post-excerpt-2_0 {
  left: 20px;
  top: 22px;
  width: 280px;
  height: 156px;
}

.d .sie-post-excerpt-2_0-text {
  color: rgba(0, 0, 0, 1);
  text-transform: none;
  line-height: 1.5;
  letter-spacing: 0em;
  font-size: 18px;
  text-align: left;
  font-family: 'Cormorant';
  font-weight: 400;
  font-style: normal;
}

.m .sie-post-excerpt-2_0-text {
  color: rgba(0, 0, 0, 1);
  text-transform: none;
  line-height: 1.5;
  letter-spacing: 0em;
  font-size: 15px;
  text-align: left;
  font-family: 'Cormorant';
  font-weight: 400;
  font-style: normal;
}

.m .sib-post-button-2 {
  height: 169px;
}

.d .sib-post-button-2 {
  height: 236px;
}

.m .sib-post-button-2 .ss-bg {
  background-color: rgba(255, 255, 255, 1);
}

.d .sib-post-button-2 .ss-bg {
  background-color: rgba(255, 255, 255, 1);
}

.d .sie-post-button-2_0 {
  left: 57px;
  top: 44px;
  width: 194px;
  height: 73px;
}

.m .sie-post-button-2_0 {
  left: 78px;
  top: 28px;
  width: 164px;
  height: 64px;
}

.d .sie-post-button-2_0 .se-simple {
  background-color: rgba(255, 224, 213, 1);
}

.m .sie-post-button-2_0 .se-simple {
  background-color: rgba(255, 224, 213, 1);
}

.d .sie-post-button-2_1 {
  left: 76px;
  top: 63px;
  width: 157px;
  height: 35px;
}

.m .sie-post-button-2_1 {
  left: 98px;
  top: 46px;
  width: 125px;
  height: 29px;
}

.d .sie-post-button-2_1-text {
  color: rgba(0, 0, 0, 1);
  text-transform: uppercase;
  line-height: 1.8;
  letter-spacing: 0.1em;
  font-size: 20px;
  text-align: center;
  font-family: 'Paris Sans';
  font-weight: 400;
  font-style: normal;
}

.m .sie-post-button-2_1-text {
  color: rgba(0, 0, 0, 1);
  text-transform: uppercase;
  line-height: 1.8;
  letter-spacing: 0.1em;
  font-size: 16px;
  text-align: center;
  font-family: 'Paris Sans';
  font-weight: 400;
  font-style: normal;
}

.m .sib-post-pagination {
  height: 219px;
}

.d .sib-post-pagination {
  height: 75px;
}

.m .sib-post-pagination .ss-bg {
  background-color: rgba(236, 237, 242, 1);
}

.d .sib-post-pagination .ss-bg {
  background-color: rgba(236, 237, 242, 1);
}

.d .sie-post-pagination_0 {
  left: 57px;
  top: 24px;
  width: 150px;
  height: 31px;
}

.m .sie-post-pagination_0 {
  left: 97px;
  top: 33px;
  width: 126px;
  height: 28px;
}

.d .sie-post-pagination_0-text {
  color: rgba(0, 0, 0, 1);
  text-transform: uppercase;
  line-height: 1.8;
  letter-spacing: 0.1em;
  font-size: 16px;
  text-align: left;
  font-family: 'Paris Sans';
  font-weight: 400;
  font-style: normal;
}

.m .sie-post-pagination_0-text {
  color: rgba(0, 0, 0, 1);
  text-transform: uppercase;
  line-height: 1.8;
  letter-spacing: 0.1em;
  font-size: 16px;
  text-align: center;
  font-family: 'Paris Sans';
  font-weight: 400;
  font-style: normal;
}

.d .sie-post-pagination_1 {
  left: 990px;
  top: 24px;
  width: 150px;
  height: 31px;
}

.m .sie-post-pagination_1 {
  left: 97px;
  top: 80px;
  width: 126px;
  height: 28px;
}

.d .sie-post-pagination_1-text {
  color: rgba(0, 0, 0, 1);
  text-transform: uppercase;
  line-height: 1.8;
  letter-spacing: 0.1em;
  font-size: 16px;
  text-align: right;
  font-family: 'Paris Sans';
  font-weight: 400;
  font-style: normal;
}

.m .sie-post-pagination_1-text {
  color: rgba(0, 0, 0, 1);
  text-transform: uppercase;
  line-height: 1.8;
  letter-spacing: 0.1em;
  font-size: 16px;
  text-align: center;
  font-family: 'Paris Sans';
  font-weight: 400;
  font-style: normal;
}

.d .sie-post-pagination_2 {
  left: 450px;
  top: 20px;
  width: 300px;
  height: 35px;
}

.m .sie-post-pagination_2 {
  left: 13px;
  top: 144px;
  width: 295px;
  height: 47px;
}

.d .sie-post-pagination_2 .se-simple {
  background-color: rgba(255, 243, 238, 1);
}

.m .sie-post-pagination_2 .se-simple {
  background-color: rgba(255, 243, 238, 1);
}

.d .sie-post-pagination_3 {
  left: 454px;
  top: 19px;
  width: 292px;
  height: 35px;
}

.m .sie-post-pagination_3 {
  left: 20px;
  top: 152px;
  width: 280px;
  height: 31px;
}

.d .sie-post-pagination_3-text {
  color: rgba(0, 0, 0, 1);
  text-transform: none;
  line-height: 2;
  letter-spacing: 0em;
  font-size: 18px;
  text-align: left;
  font-family: 'Cormorant';
  font-weight: 400;
  font-style: normal;
}

.m .sie-post-pagination_3-text {
  color: rgba(0, 0, 0, 1);
  text-transform: none;
  line-height: 2.2;
  letter-spacing: 0em;
  font-size: 15px;
  text-align: left;
  font-family: 'Cormorant';
  font-weight: 400;
  font-style: normal;
}

.m .sib-footer-menu {
  height: 407px;
}

.d .sib-footer-menu {
  height: 194px;
}

.m .sib-footer-menu .ss-bg {
  background-color: rgba(255, 243, 238, 1);
}

.d .sib-footer-menu .ss-bg {
  background-color: rgba(255, 243, 238, 1);
}

.d .sie-footer-menu_0 {
  left: 57px;
  top: 45px;
  width: 1086px;
  height: 65px;
}

.m .sie-footer-menu_0 {
  left: 16px;
  top: 30px;
  width: 289px;
  height: 47px;
}

.d .sie-footer-menu_0 .se-simple {
  background-color: rgba(255, 255, 255, 1);
}

.m .sie-footer-menu_0 .se-simple {
  background-color: rgba(255, 255, 255, 1);
}

.d .sie-footer-menu_1 {
  left: 57px;
  top: 117px;
  width: 1086px;
  height: 30px;
}

.m .sie-footer-menu_1 {
  left: 16px;
  top: 84px;
  width: 289px;
  height: 241px;
}

.d .sie-footer-menu_1 .se-simple {
  background-color: rgba(255, 255, 255, 1);
}

.m .sie-footer-menu_1 .se-simple {
  background-color: rgba(255, 255, 255, 1);
}

.d .sie-footer-menu_2 {
  left: 529px;
  top: 18px;
  width: 143px;
  height: 111px;
}

.m .sie-footer-menu_2 {
  left: 23px;
  top: 14px;
  width: 87px;
  height: 63px;
}

.d .sie-footer-menu_2-text {
  color: rgba(0, 0, 0, 1);
  text-transform: none;
  line-height: 1.2;
  letter-spacing: 0em;
  font-size: 120px;
  text-align: center;
  font-family: 'Bird and Thorn';
  font-weight: 400;
  font-style: normal;
}

.m .sie-footer-menu_2-text {
  color: rgba(0, 0, 0, 1);
  text-transform: none;
  line-height: 1.2;
  letter-spacing: 0em;
  font-size: 72px;
  text-align: center;
  font-family: 'Bird and Thorn';
  font-weight: 400;
  font-style: normal;
}

.d .sie-footer-menu_3 {
  left: 87px;
  top: 68px;
  width: 375px;
  height: 19px;
}

.m .sie-footer-menu_3 {
  left: 40px;
  top: 356px;
  width: 240px;
  height: 25px;
}

.d .sie-footer-menu_3-text {
  color: rgba(0, 0, 0, 1);
  text-transform: uppercase;
  line-height: 1.8;
  letter-spacing: 0.1em;
  font-size: 12px;
  text-align: left;
  font-family: 'Nunito Sans';
  font-weight: 400;
  font-style: normal;
}

.m .sie-footer-menu_3-text {
  color: rgba(0, 0, 0, 1);
  text-transform: uppercase;
  line-height: 1.2;
  letter-spacing: 0.1em;
  font-size: 12px;
  text-align: center;
  font-family: 'Nunito Sans';
  font-weight: 400;
  font-style: normal;
}

.d .sie-footer-menu_4 {
  left: 990px;
  top: 66px;
  width: 24px;
  height: 22px;
}

.m .sie-footer-menu_4 {
  left: 160px;
  top: 39px;
  width: 30px;
  height: 30px;
}

.d .sie-footer-menu_4 svg {
  fill: rgba(0, 0, 0, 1);
}

.m .sie-footer-menu_4 svg {
  fill: rgba(0, 0, 0, 1);
}

.d .sie-footer-menu_5 {
  left: 1036px;
  top: 66px;
  width: 24px;
  height: 22px;
}

.m .sie-footer-menu_5 {
  left: 208px;
  top: 39px;
  width: 30px;
  height: 30px;
}

.d .sie-footer-menu_5 svg {
  fill: rgba(0, 0, 0, 1);
}

.m .sie-footer-menu_5 svg {
  fill: rgba(0, 0, 0, 1);
}

.d .sie-footer-menu_6 {
  left: 1087px;
  top: 66px;
  width: 24px;
  height: 22px;
}

.m .sie-footer-menu_6 {
  left: 260px;
  top: 39px;
  width: 30px;
  height: 30px;
}

.d .sie-footer-menu_6 svg {
  fill: rgba(0, 0, 0, 1);
}

.m .sie-footer-menu_6 svg {
  fill: rgba(0, 0, 0, 1);
}

.d .sie-footer-menu_7 {
  left: 881px;
  top: 68px;
  width: 51px;
  height: 19px;
}

.m .sie-footer-menu_7 {
  left: 164px;
  top: 283px;
  width: 102px;
  height: 22px;
}

.d .sie-footer-menu_7-text {
  color: rgba(0, 0, 0, 1);
  text-transform: uppercase;
  line-height: 1.8;
  letter-spacing: 0.1em;
  font-size: 12px;
  text-align: center;
  font-family: 'Nunito Sans';
  font-weight: 400;
  font-style: normal;
}

.m .sie-footer-menu_7-text {
  color: rgba(0, 0, 0, 1);
  text-transform: uppercase;
  line-height: 1.8;
  letter-spacing: 0.1em;
  font-size: 13px;
  text-align: center;
  font-family: 'Nunito Sans';
  font-weight: 400;
  font-style: normal;
}

.d .sie-footer-menu_8 {
  left: 774px;
  top: 68px;
  width: 68px;
  height: 19px;
}

.m .sie-footer-menu_8 {
  left: 55px;
  top: 283px;
  width: 102px;
  height: 22px;
}

.d .sie-footer-menu_8-text {
  color: rgba(0, 0, 0, 1);
  text-transform: uppercase;
  line-height: 1.8;
  letter-spacing: 0.1em;
  font-size: 12px;
  text-align: center;
  font-family: 'Nunito Sans';
  font-weight: 400;
  font-style: normal;
}

.m .sie-footer-menu_8-text {
  color: rgba(0, 0, 0, 1);
  text-transform: uppercase;
  line-height: 1.8;
  letter-spacing: 0.1em;
  font-size: 13px;
  text-align: center;
  font-family: 'Nunito Sans';
  font-weight: 400;
  font-style: normal;
}

.d .sie-footer-menu_9 {
  left: 87px;
  top: 122px;
  width: 60px;
  height: 19px;
}

.m .sie-footer-menu_9 {
  left: 55px;
  top: 147px;
  width: 102px;
  height: 22px;
}

.d .sie-footer-menu_9-text {
  color: rgba(0, 0, 0, 1);
  text-transform: uppercase;
  line-height: 1.8;
  letter-spacing: 0.1em;
  font-size: 12px;
  text-align: left;
  font-family: 'Nunito Sans';
  font-weight: 400;
  font-style: normal;
}

.m .sie-footer-menu_9-text {
  color: rgba(0, 0, 0, 1);
  text-transform: uppercase;
  line-height: 1.8;
  letter-spacing: 0.1em;
  font-size: 13px;
  text-align: center;
  font-family: 'Nunito Sans';
  font-weight: 400;
  font-style: normal;
}

.d .sie-footer-menu_10 {
  left: 178px;
  top: 122px;
  width: 62px;
  height: 19px;
}

.m .sie-footer-menu_10 {
  left: 164px;
  top: 147px;
  width: 102px;
  height: 22px;
}

.d .sie-footer-menu_10-text {
  color: rgba(0, 0, 0, 1);
  text-transform: uppercase;
  line-height: 1.8;
  letter-spacing: 0.1em;
  font-size: 12px;
  text-align: left;
  font-family: 'Nunito Sans';
  font-weight: 400;
  font-style: normal;
}

.m .sie-footer-menu_10-text {
  color: rgba(0, 0, 0, 1);
  text-transform: uppercase;
  line-height: 1.8;
  letter-spacing: 0.1em;
  font-size: 13px;
  text-align: center;
  font-family: 'Nunito Sans';
  font-weight: 400;
  font-style: normal;
}

.d .sie-footer-menu_11 {
  left: 277px;
  top: 122px;
  width: 161px;
  height: 19px;
}

.m .sie-footer-menu_11 {
  left: 63px;
  top: 192px;
  width: 195px;
  height: 22px;
}

.d .sie-footer-menu_11-text {
  color: rgba(0, 0, 0, 1);
  text-transform: uppercase;
  line-height: 1.8;
  letter-spacing: 0.1em;
  font-size: 12px;
  text-align: left;
  font-family: 'Nunito Sans';
  font-weight: 400;
  font-style: normal;
}

.m .sie-footer-menu_11-text {
  color: rgba(0, 0, 0, 1);
  text-transform: uppercase;
  line-height: 1.8;
  letter-spacing: 0.1em;
  font-size: 13px;
  text-align: center;
  font-family: 'Nunito Sans';
  font-weight: 400;
  font-style: normal;
}

.d .sie-footer-menu_12 {
  left: 789px;
  top: 122px;
  width: 55px;
  height: 19px;
}

.m .sie-footer-menu_12 {
  left: 55px;
  top: 238px;
  width: 102px;
  height: 22px;
}

.d .sie-footer-menu_12-text {
  color: rgba(0, 0, 0, 1);
  text-transform: uppercase;
  line-height: 1.8;
  letter-spacing: 0.1em;
  font-size: 12px;
  text-align: left;
  font-family: 'Nunito Sans';
  font-weight: 400;
  font-style: normal;
}

.m .sie-footer-menu_12-text {
  color: rgba(0, 0, 0, 1);
  text-transform: uppercase;
  line-height: 1.8;
  letter-spacing: 0.1em;
  font-size: 13px;
  text-align: center;
  font-family: 'Nunito Sans';
  font-weight: 400;
  font-style: normal;
}

.d .sie-footer-menu_13 {
  left: 877px;
  top: 122px;
  width: 78px;
  height: 19px;
}

.m .sie-footer-menu_13 {
  left: 164px;
  top: 238px;
  width: 102px;
  height: 22px;
}

.d .sie-footer-menu_13-text {
  color: rgba(0, 0, 0, 1);
  text-transform: uppercase;
  line-height: 1.8;
  letter-spacing: 0.1em;
  font-size: 12px;
  text-align: left;
  font-family: 'Nunito Sans';
  font-weight: 400;
  font-style: normal;
}

.m .sie-footer-menu_13-text {
  color: rgba(0, 0, 0, 1);
  text-transform: uppercase;
  line-height: 1.8;
  letter-spacing: 0.1em;
  font-size: 13px;
  text-align: center;
  font-family: 'Nunito Sans';
  font-weight: 400;
  font-style: normal;
}

.d .sie-footer-menu_14 {
  left: 999px;
  top: 122px;
  width: 133px;
  height: 19px;
}

.m .sie-footer-menu_14 {
  left: 103px;
  top: 107px;
  width: 114px;
  height: 22px;
}

.d .sie-footer-menu_14-text {
  color: rgba(0, 0, 0, 1);
  text-transform: uppercase;
  line-height: 1.8;
  letter-spacing: 0.1em;
  font-size: 12px;
  text-align: left;
  font-family: 'Nunito Sans';
  font-weight: 400;
  font-style: normal;
}

.m .sie-footer-menu_14-text {
  color: rgba(0, 0, 0, 1);
  text-transform: uppercase;
  line-height: 1.8;
  letter-spacing: 0.1em;
  font-size: 13px;
  text-align: center;
  font-family: 'Nunito Sans';
  font-weight: 400;
  font-style: normal;
}