html.d {
    background-color: rgba(255, 255, 255, 1);
  }

  html.m {
    background-color: rgba(255, 255, 255, 1);
  }

  .d .st-d-title {
    color: rgba(0, 0, 0, 1);
    line-height: 1.2;
    letter-spacing: 0em;
    font-size: 54px;
    text-align: left;
    font-family: 'Cormorant';
    font-weight: 400;
    font-style: normal;
  }

  .d .st-d-title.se-rc a {
    color: rgba(0, 0, 0, 1);
  }

  .d .st-d-title.se-rc a:hover {
    text-decoration: underline;
    color: rgba(0, 0, 0, 1);
    opacity: 0.8;
  }

  .m .st-m-title {
    color: rgba(0, 0, 0, 1);
    line-height: 1.2;
    letter-spacing: 0em;
    font-size: 36px;
    text-align: left;
    font-family: 'Cormorant';
    font-weight: 400;
    font-style: normal;
  }

  .m .st-m-title.se-rc a {
    color: rgba(0, 0, 0, 1);
  }

  .m .st-m-title.se-rc a:hover {
    text-decoration: underline;
    color: rgba(0, 0, 0, 1);
    opacity: 0.8;
  }

  .d .st-d-heading {
    color: rgba(0, 0, 0, 1);
    text-transform: uppercase;
    line-height: 1.2;
    letter-spacing: 0.1em;
    font-size: 50px;
    text-align: left;
    font-family: 'Oswald';
    font-weight: 400;
    font-style: normal;
  }

  .d .st-d-heading.se-rc a {
    color: rgba(0, 0, 0, 1);
  }

  .d .st-d-heading.se-rc a:hover {
    text-decoration: underline;
    color: rgba(0, 0, 0, 1);
    opacity: 0.8;
  }

  .m .st-m-heading {
    color: rgba(0, 0, 0, 1);
    text-transform: uppercase;
    line-height: 1.2;
    letter-spacing: 0.1em;
    font-size: 26px;
    text-align: center;
    font-family: 'Oswald';
    font-weight: 400;
    font-style: normal;
  }

  .m .st-m-heading.se-rc a {
    color: rgba(0, 0, 0, 1);
  }

  .m .st-m-heading.se-rc a:hover {
    text-decoration: underline;
    color: rgba(0, 0, 0, 1);
    opacity: 0.8;
  }

  .d .st-d-subheading {
    color: rgba(0, 0, 0, 1);
    text-transform: uppercase;
    line-height: 1.8;
    letter-spacing: 0.1em;
    font-size: 20px;
    text-align: center;
    font-family: 'Paris Sans';
    font-weight: 400;
    font-style: normal;
  }

  .d .st-d-subheading.se-rc a {
    color: rgba(0, 0, 0, 1);
  }

  .d .st-d-subheading.se-rc a:hover {
    text-decoration: underline;
    color: rgba(0, 0, 0, 1);
    opacity: 0.8;
  }

  .m .st-m-subheading {
    color: rgba(0, 0, 0, 1);
    text-transform: uppercase;
    line-height: 1.8;
    letter-spacing: 0.1em;
    font-size: 16px;
    text-align: center;
    font-family: 'Paris Sans';
    font-weight: 400;
    font-style: normal;
  }

  .m .st-m-subheading.se-rc a {
    color: rgba(0, 0, 0, 1);
  }

  .m .st-m-subheading.se-rc a:hover {
    text-decoration: underline;
    color: rgba(0, 0, 0, 1);
    opacity: 0.8;
  }

  .d .st-d-paragraph {
    color: rgba(0, 0, 0, 1);
    line-height: 1.5;
    letter-spacing: 0em;
    font-size: 18px;
    text-align: left;
    font-family: 'Cormorant';
    font-weight: 400;
    font-style: normal;
  }

  .d .st-d-paragraph.se-rc a {
    color: rgba(0, 0, 0, 1);
  }

  .d .st-d-paragraph.se-rc a:hover {
    text-decoration: underline;
    color: rgba(0, 0, 0, 1);
    opacity: 0.8;
  }

  .m .st-m-paragraph {
    color: rgba(0, 0, 0, 1);
    line-height: 1.5;
    letter-spacing: 0em;
    font-size: 15px;
    text-align: left;
    font-family: 'Cormorant';
    font-weight: 400;
    font-style: normal;
  }

  .m .st-m-paragraph.se-rc a {
    color: rgba(0, 0, 0, 1);
  }

  .m .st-m-paragraph.se-rc a:hover {
    text-decoration: underline;
    color: rgba(0, 0, 0, 1);
    opacity: 0.8;
  }

  .sib-buy-now {
    z-index: 3;
  }

  .m .sib-buy-now {
    height: 54px;
  }

  .d .sib-buy-now {
    height: 1px;
  }

  .m .sib-buy-now .ss-bg {
    background-color: rgba(255, 255, 255, 1);
  }

  .d .sib-buy-now .ss-bg {
    background-color: rgba(236, 237, 242, 1);
  }

  .d .sie-buy-now_0 {
    left: 0px;
    top: 165px;
    width: 38px;
    height: 177px;
  }

  .m .sie-buy-now_0 {
    left: 8px;
    top: 8px;
    width: 114px;
    height: 38px;
  }

  .d .sie-buy-now_0 .se-simple {
    background-color: rgba(170, 110, 100, 1);
  }

  .m .sie-buy-now_0 .se-simple {
    background-color: rgba(170, 110, 100, 1);
  }

  .d .sie-buy-now_1 {
    left: -52px;
    top: 240px;
    width: 138px;
    height: 26px;
  }

  .m .sie-buy-now_1 {
    left: 8px;
    top: 17px;
    width: 114px;
    height: 22px;
  }

  .d .sie-buy-now_1-text {
    color: rgba(255, 255, 255, 1);
    text-transform: uppercase;
    line-height: 1.5;
    letter-spacing: 0.1em;
    font-size: 18px;
    text-align: center;
    font-family: 'Lato';
    font-weight: 400;
    font-style: normal;
  }

  .m .sie-buy-now_1-text {
    color: rgba(255, 255, 255, 1);
    text-transform: uppercase;
    line-height: 1.5;
    letter-spacing: 0.1em;
    font-size: 14px;
    text-align: center;
    font-family: 'Lato';
    font-weight: 400;
    font-style: normal;
  }

  .d .sie-buy-now_2 {
    left: 0px;
    top: 342px;
    width: 38px;
    height: 72px;
  }

  .m .sie-buy-now_2 {
    left: 129px;
    top: 8px;
    width: 61px;
    height: 38px;
  }

  .d .sie-buy-now_2 .se-simple {
    background-color: rgba(0, 0, 0, 1);
  }

  .m .sie-buy-now_2 .se-simple {
    background-color: rgba(0, 0, 0, 1);
  }

  .d .sie-buy-now_3 {
    left: 4px;
    top: 357px;
    width: 29px;
    height: 43px;
  }

  .m .sie-buy-now_3 {
    left: 135px;
    top: 15px;
    width: 49px;
    height: 26px;
  }

  .d .sie-buy-now_3-text {
    color: rgba(255, 255, 255, 1);
    line-height: 1.2;
    font-size: 12px;
    text-align: center;
    font-family: 'Lato';
    font-weight: 300;
    font-style: normal;
  }

  .m .sie-buy-now_3-text {
    color: rgba(255, 255, 255, 1);
    line-height: 1.2;
    font-size: 11px;
    text-align: center;
    font-family: 'Lato';
    font-weight: 300;
    font-style: normal;
  }

  .m .sib-buy-now .sis-buy-now_view-1 {
    background-color: transparent;
  }

  .d .sib-buy-now .sis-buy-now_view-1 {
    background-color: transparent;
  }

  .d .sie-buy-now_view-1_0 {
    left: 0px;
    top: 414px;
    width: 38px;
    height: 87px;
  }

  .m .sie-buy-now_view-1_0 {
    left: 197px;
    top: 8px;
    width: 115px;
    height: 38px;
  }

  .d .sie-buy-now_view-1_0 .se-simple {
    background-color: rgba(229, 219, 210, 1);
  }

  .m .sie-buy-now_view-1_0 .se-simple {
    background-color: rgba(229, 219, 210, 1);
  }

  .d .sie-buy-now_view-1_1 {
    left: 0px;
    top: 461px;
    width: 38px;
    height: 28px;
  }

  .m .sie-buy-now_view-1_1 {
    left: 206px;
    top: 15px;
    width: 53px;
    height: 24px;
  }

  .d .sie-buy-now_view-1_1-text {
    color: rgba(0, 0, 0, 1);
    line-height: 1.3;
    font-size: 11px;
    text-align: center;
    font-family: 'Lato';
    font-weight: 300;
    font-style: normal;
  }

  .m .sie-buy-now_view-1_1-text {
    color: rgba(0, 0, 0, 1);
    line-height: 1.2;
    font-size: 11px;
    text-align: center;
    font-family: 'Lato';
    font-weight: 300;
    font-style: normal;
  }

  .d .sie-buy-now_view-1_2 {
    left: 0px;
    top: 418px;
    width: 38px;
    height: 38px;
  }

  .m .sie-buy-now_view-1_2 {
    left: 267px;
    top: 9px;
    width: 37px;
    height: 37px;
  }

  .d .sie-buy-now_view-1_2 svg {
    fill: rgba(0, 0, 0, 1);
  }

  .m .sie-buy-now_view-1_2 svg {
    fill: rgba(0, 0, 0, 1);
  }

  .m .sib-buy-now .sis-buy-now_view-2 {
    background-color: transparent;
  }

  .d .sib-buy-now .sis-buy-now_view-2 {
    background-color: transparent;
  }

  .d .sie-buy-now_view-2_0 {
    left: 0px;
    top: 414px;
    width: 38px;
    height: 87px;
  }

  .m .sie-buy-now_view-2_0 {
    left: 197px;
    top: 8px;
    width: 115px;
    height: 38px;
  }

  .d .sie-buy-now_view-2_0 .se-simple {
    background-color: rgba(229, 219, 210, 1);
  }

  .m .sie-buy-now_view-2_0 .se-simple {
    background-color: rgba(229, 219, 210, 1);
  }

  .d .sie-buy-now_view-2_1 {
    left: 0px;
    top: 461px;
    width: 38px;
    height: 28px;
  }

  .m .sie-buy-now_view-2_1 {
    left: 206px;
    top: 15px;
    width: 53px;
    height: 24px;
  }

  .d .sie-buy-now_view-2_1-text {
    color: rgba(0, 0, 0, 1);
    line-height: 1.3;
    font-size: 11px;
    text-align: center;
    font-family: 'Lato';
    font-weight: 300;
    font-style: normal;
  }

  .m .sie-buy-now_view-2_1-text {
    color: rgba(0, 0, 0, 1);
    line-height: 1.2;
    font-size: 11px;
    text-align: center;
    font-family: 'Lato';
    font-weight: 300;
    font-style: normal;
  }

  .d .sie-buy-now_view-2_2 {
    left: 0px;
    top: 418px;
    width: 38px;
    height: 38px;
  }

  .m .sie-buy-now_view-2_2 {
    left: 267px;
    top: 9px;
    width: 37px;
    height: 37px;
  }

  .d .sie-buy-now_view-2_2 svg {
    fill: rgba(0, 0, 0, 1);
  }

  .m .sie-buy-now_view-2_2 svg {
    fill: rgba(0, 0, 0, 1);
  }

  .d .sie-buy-now_view-2_3 {
    left: 44px;
    top: 165px;
    width: 298px;
    height: 336px;
  }

  .m .sie-buy-now_view-2_3 {
    left: 8px;
    top: -290px;
    width: 304px;
    height: 290px;
  }

  .d .sie-buy-now_view-2_3 .se-simple {
    background-color: rgba(255, 255, 255, 1);
  }

  .m .sie-buy-now_view-2_3 .se-simple {
    background-color: rgba(255, 255, 255, 1);
  }

  .d .sie-buy-now_view-2_4 {
    left: 63px;
    top: 235px;
    width: 116px;
    height: 15px;
  }

  .m .sie-buy-now_view-2_4 {
    left: 29px;
    top: -235px;
    width: 130px;
    height: 13px;
  }

  .d .sie-buy-now_view-2_4-text {
    color: rgba(0, 0, 0, 1);
    text-transform: uppercase;
    line-height: 1.3;
    font-size: 11px;
    text-align: left;
    font-family: 'Lato';
    font-weight: 300;
    font-style: normal;
  }

  .m .sie-buy-now_view-2_4-text {
    color: rgba(0, 0, 0, 1);
    text-transform: uppercase;
    line-height: 1.2;
    font-size: 11px;
    text-align: left;
    font-family: 'Lato';
    font-weight: 300;
    font-style: normal;
  }

  .d .sie-buy-now_view-2_5 {
    left: 203px;
    top: 235px;
    width: 116px;
    height: 15px;
  }

  .m .sie-buy-now_view-2_5 {
    left: 170px;
    top: -235px;
    width: 130px;
    height: 13px;
  }

  .d .sie-buy-now_view-2_5-text {
    color: rgba(0, 0, 0, 1);
    text-transform: uppercase;
    line-height: 1.3;
    font-size: 11px;
    text-align: left;
    font-family: 'Lato';
    font-weight: 300;
    font-style: normal;
  }

  .m .sie-buy-now_view-2_5-text {
    color: rgba(0, 0, 0, 1);
    text-transform: uppercase;
    line-height: 1.2;
    font-size: 11px;
    text-align: left;
    font-family: 'Lato';
    font-weight: 300;
    font-style: normal;
  }

  .d .sie-buy-now_view-2_6 {
    left: 63px;
    top: 265px;
    width: 116px;
    height: 15px;
  }

  .m .sie-buy-now_view-2_6 {
    left: 29px;
    top: -206px;
    width: 130px;
    height: 13px;
  }

  .d .sie-buy-now_view-2_6-text {
    color: rgba(0, 0, 0, 1);
    text-transform: uppercase;
    line-height: 1.3;
    font-size: 11px;
    text-align: left;
    font-family: 'Lato';
    font-weight: 300;
    font-style: normal;
  }

  .m .sie-buy-now_view-2_6-text {
    color: rgba(0, 0, 0, 1);
    text-transform: uppercase;
    line-height: 1.2;
    font-size: 11px;
    text-align: left;
    font-family: 'Lato';
    font-weight: 300;
    font-style: normal;
  }

  .d .sie-buy-now_view-2_7 {
    left: 203px;
    top: 265px;
    width: 116px;
    height: 15px;
  }

  .m .sie-buy-now_view-2_7 {
    left: 170px;
    top: -206px;
    width: 130px;
    height: 13px;
  }

  .d .sie-buy-now_view-2_7-text {
    color: rgba(0, 0, 0, 1);
    text-transform: uppercase;
    line-height: 1.3;
    font-size: 11px;
    text-align: left;
    font-family: 'Lato';
    font-weight: 300;
    font-style: normal;
  }

  .m .sie-buy-now_view-2_7-text {
    color: rgba(0, 0, 0, 1);
    text-transform: uppercase;
    line-height: 1.2;
    font-size: 11px;
    text-align: left;
    font-family: 'Lato';
    font-weight: 300;
    font-style: normal;
  }

  .d .sie-buy-now_view-2_8 {
    left: 63px;
    top: 295px;
    width: 116px;
    height: 15px;
  }

  .m .sie-buy-now_view-2_8 {
    left: 29px;
    top: -177px;
    width: 130px;
    height: 13px;
  }

  .d .sie-buy-now_view-2_8-text {
    color: rgba(0, 0, 0, 1);
    text-transform: uppercase;
    line-height: 1.3;
    font-size: 11px;
    text-align: left;
    font-family: 'Lato';
    font-weight: 300;
    font-style: normal;
  }

  .m .sie-buy-now_view-2_8-text {
    color: rgba(0, 0, 0, 1);
    text-transform: uppercase;
    line-height: 1.2;
    font-size: 11px;
    text-align: left;
    font-family: 'Lato';
    font-weight: 300;
    font-style: normal;
  }

  .d .sie-buy-now_view-2_9 {
    left: 203px;
    top: 295px;
    width: 116px;
    height: 15px;
  }

  .m .sie-buy-now_view-2_9 {
    left: 170px;
    top: -177px;
    width: 130px;
    height: 13px;
  }

  .d .sie-buy-now_view-2_9-text {
    color: rgba(0, 0, 0, 1);
    text-transform: uppercase;
    line-height: 1.3;
    font-size: 11px;
    text-align: left;
    font-family: 'Lato';
    font-weight: 300;
    font-style: normal;
  }

  .m .sie-buy-now_view-2_9-text {
    color: rgba(0, 0, 0, 1);
    text-transform: uppercase;
    line-height: 1.2;
    font-size: 11px;
    text-align: left;
    font-family: 'Lato';
    font-weight: 300;
    font-style: normal;
  }

  .d .sie-buy-now_view-2_10 {
    left: 63px;
    top: 326px;
    width: 116px;
    height: 15px;
  }

  .m .sie-buy-now_view-2_10 {
    left: 29px;
    top: -148px;
    width: 130px;
    height: 13px;
  }

  .d .sie-buy-now_view-2_10-text {
    color: rgba(0, 0, 0, 1);
    text-transform: uppercase;
    line-height: 1.3;
    font-size: 11px;
    text-align: left;
    font-family: 'Lato';
    font-weight: 300;
    font-style: normal;
  }

  .m .sie-buy-now_view-2_10-text {
    color: rgba(0, 0, 0, 1);
    text-transform: uppercase;
    line-height: 1.2;
    font-size: 11px;
    text-align: left;
    font-family: 'Lato';
    font-weight: 300;
    font-style: normal;
  }

  .d .sie-buy-now_view-2_11 {
    left: 203px;
    top: 326px;
    width: 116px;
    height: 15px;
  }

  .m .sie-buy-now_view-2_11 {
    left: 170px;
    top: -148px;
    width: 130px;
    height: 13px;
  }

  .d .sie-buy-now_view-2_11-text {
    color: rgba(0, 0, 0, 1);
    text-transform: uppercase;
    line-height: 1.3;
    font-size: 11px;
    text-align: left;
    font-family: 'Lato';
    font-weight: 300;
    font-style: normal;
  }

  .m .sie-buy-now_view-2_11-text {
    color: rgba(0, 0, 0, 1);
    text-transform: uppercase;
    line-height: 1.2;
    font-size: 11px;
    text-align: left;
    font-family: 'Lato';
    font-weight: 300;
    font-style: normal;
  }

  .d .sie-buy-now_view-2_12 {
    left: 63px;
    top: 356px;
    width: 116px;
    height: 15px;
  }

  .m .sie-buy-now_view-2_12 {
    left: 29px;
    top: -119px;
    width: 130px;
    height: 13px;
  }

  .d .sie-buy-now_view-2_12-text {
    color: rgba(0, 0, 0, 1);
    text-transform: uppercase;
    line-height: 1.3;
    font-size: 11px;
    text-align: left;
    font-family: 'Lato';
    font-weight: 300;
    font-style: normal;
  }

  .m .sie-buy-now_view-2_12-text {
    color: rgba(0, 0, 0, 1);
    text-transform: uppercase;
    line-height: 1.2;
    font-size: 11px;
    text-align: left;
    font-family: 'Lato';
    font-weight: 300;
    font-style: normal;
  }

  .d .sie-buy-now_view-2_13 {
    left: 203px;
    top: 356px;
    width: 116px;
    height: 15px;
  }

  .m .sie-buy-now_view-2_13 {
    left: 170px;
    top: -119px;
    width: 130px;
    height: 13px;
  }

  .d .sie-buy-now_view-2_13-text {
    color: rgba(0, 0, 0, 1);
    text-transform: uppercase;
    line-height: 1.3;
    font-size: 11px;
    text-align: left;
    font-family: 'Lato';
    font-weight: 300;
    font-style: normal;
  }

  .m .sie-buy-now_view-2_13-text {
    color: rgba(0, 0, 0, 1);
    text-transform: uppercase;
    line-height: 1.2;
    font-size: 11px;
    text-align: left;
    font-family: 'Lato';
    font-weight: 300;
    font-style: normal;
  }

  .d .sie-buy-now_view-2_14 {
    left: 63px;
    top: 386px;
    width: 116px;
    height: 15px;
  }

  .m .sie-buy-now_view-2_14 {
    left: 29px;
    top: -90px;
    width: 130px;
    height: 13px;
  }

  .d .sie-buy-now_view-2_14-text {
    color: rgba(0, 0, 0, 1);
    text-transform: uppercase;
    line-height: 1.3;
    font-size: 11px;
    text-align: left;
    font-family: 'Lato';
    font-weight: 300;
    font-style: normal;
  }

  .m .sie-buy-now_view-2_14-text {
    color: rgba(0, 0, 0, 1);
    text-transform: uppercase;
    line-height: 1.2;
    font-size: 11px;
    text-align: left;
    font-family: 'Lato';
    font-weight: 300;
    font-style: normal;
  }

  .d .sie-buy-now_view-2_15 {
    left: 203px;
    top: 386px;
    width: 116px;
    height: 15px;
  }

  .m .sie-buy-now_view-2_15 {
    left: 170px;
    top: -90px;
    width: 130px;
    height: 13px;
  }

  .d .sie-buy-now_view-2_15-text {
    color: rgba(0, 0, 0, 1);
    text-transform: uppercase;
    line-height: 1.3;
    font-size: 11px;
    text-align: left;
    font-family: 'Lato';
    font-weight: 300;
    font-style: normal;
  }

  .m .sie-buy-now_view-2_15-text {
    color: rgba(0, 0, 0, 1);
    text-transform: uppercase;
    line-height: 1.2;
    font-size: 11px;
    text-align: left;
    font-family: 'Lato';
    font-weight: 300;
    font-style: normal;
  }

  .d .sie-buy-now_view-2_16 {
    left: 63px;
    top: 416px;
    width: 116px;
    height: 15px;
  }

  .m .sie-buy-now_view-2_16 {
    left: 29px;
    top: -61px;
    width: 130px;
    height: 13px;
  }

  .d .sie-buy-now_view-2_16-text {
    color: rgba(0, 0, 0, 1);
    text-transform: uppercase;
    line-height: 1.3;
    font-size: 11px;
    text-align: left;
    font-family: 'Lato';
    font-weight: 300;
    font-style: normal;
  }

  .m .sie-buy-now_view-2_16-text {
    color: rgba(0, 0, 0, 1);
    text-transform: uppercase;
    line-height: 1.2;
    font-size: 11px;
    text-align: left;
    font-family: 'Lato';
    font-weight: 300;
    font-style: normal;
  }

  .d .sie-buy-now_view-2_17 {
    left: 203px;
    top: 416px;
    width: 116px;
    height: 15px;
  }

  .m .sie-buy-now_view-2_17 {
    left: 170px;
    top: -61px;
    width: 130px;
    height: 13px;
  }

  .d .sie-buy-now_view-2_17-text {
    color: rgba(0, 0, 0, 1);
    text-transform: uppercase;
    line-height: 1.3;
    font-size: 11px;
    text-align: left;
    font-family: 'Lato';
    font-weight: 300;
    font-style: normal;
  }

  .m .sie-buy-now_view-2_17-text {
    color: rgba(0, 0, 0, 1);
    text-transform: uppercase;
    line-height: 1.2;
    font-size: 11px;
    text-align: left;
    font-family: 'Lato';
    font-weight: 300;
    font-style: normal;
  }

  .d .sie-buy-now_view-2_18 {
    left: 203px;
    top: 446px;
    width: 116px;
    height: 15px;
  }

  .m .sie-buy-now_view-2_18 {
    left: 170px;
    top: -33px;
    width: 130px;
    height: 13px;
  }

  .d .sie-buy-now_view-2_18-text {
    color: rgba(0, 0, 0, 1);
    text-transform: uppercase;
    line-height: 1.3;
    font-size: 11px;
    text-align: left;
    font-family: 'Lato';
    font-weight: 300;
    font-style: normal;
  }

  .m .sie-buy-now_view-2_18-text {
    color: rgba(0, 0, 0, 1);
    text-transform: uppercase;
    line-height: 1.2;
    font-size: 11px;
    text-align: left;
    font-family: 'Lato';
    font-weight: 300;
    font-style: normal;
  }

  .d .sie-buy-now_view-2_19 {
    left: 60px;
    top: 180px;
    width: 261px;
    height: 25px;
  }

  .m .sie-buy-now_view-2_19 {
    left: 28px;
    top: -275px;
    width: 266px;
    height: 21px;
  }

  .d .sie-buy-now_view-2_19-text {
    line-height: 1.5;
    letter-spacing: 0em;
    font-size: 16px;
    text-align: left;
    font-family: 'Lato';
    font-weight: 400;
    font-style: normal;
  }

  .m .sie-buy-now_view-2_19-text {
    line-height: 1.5;
    letter-spacing: 0em;
    text-align: left;
    font-family: 'Lato';
    font-weight: 400;
    font-style: normal;
  }

  .sib-header-menu {
    z-index: 10;
  }

  .m .sib-header-menu {
    height: 1px;
  }

  .d .sib-header-menu {
    height: 1px;
  }

  .m .sib-header-menu .ss-bg {
    background-color: rgba(177, 178, 181, 1);
  }

  .d .sib-header-menu .ss-bg {
    background-color: rgba(177, 178, 181, 1);
  }

  .m .sib-header-menu .sis-header-menu_main-view {
    background-color: transparent;
  }

  .d .sib-header-menu .sis-header-menu_main-view {
    background-color: transparent;
  }

  .d .sie-header-menu_main-view_0 {
    left: 57px;
    top: 33px;
    width: 1086px;
    height: 65px;
  }

  .m .sie-header-menu_main-view_0 {
    left: 16px;
    top: 30px;
    width: 289px;
    height: 47px;
  }

  .d .sie-header-menu_main-view_0 .se-simple {
    background-color: rgba(255, 255, 255, 1);
  }

  .m .sie-header-menu_main-view_0 .se-simple {
    background-color: rgba(255, 255, 255, 1);
  }

  .d .sie-header-menu_main-view_1 {
    left: 529px;
    top: 8px;
    width: 143px;
    height: 111px;
  }

  .m .sie-header-menu_main-view_1 {
    left: 23px;
    top: 14px;
    width: 87px;
    height: 63px;
  }

  .d .sie-header-menu_main-view_1-text {
    font-size: 120px;
    text-align: center;
    font-family: 'Bird and Thorn';
    font-weight: 400;
    font-style: normal;
  }

  .m .sie-header-menu_main-view_1-text {
    font-size: 72px;
    text-align: center;
    font-family: 'Bird and Thorn';
    font-weight: 400;
    font-style: normal;
  }

  .d .sie-header-menu_main-view_2 {
    left: 550px;
    top: -49px;
    width: 100px;
    height: 100px;
    display: none;
  }

  .m .sie-header-menu_main-view_2 {
    left: 246px;
    top: 34px;
    width: 40px;
    height: 40px;
  }

  .d .sie-header-menu_main-view_2 svg {
    fill: rgba(255, 243, 238, 1);
  }

  .m .sie-header-menu_main-view_2 svg {
    fill: rgba(0, 0, 0, 1);
  }

  .d .sie-header-menu_main-view_3 {
    left: 87px;
    top: 54px;
    width: 51px;
    height: 23px;
  }

  .m .sie-header-menu_main-view_3 {
    left: 49px;
    top: 182px;
    width: 102px;
    height: 17px;
    display: none;
  }

  .d .sie-header-menu_main-view_3-text {
    letter-spacing: 0.1em;
    font-size: 14px;
    font-family: 'Nunito Sans';
    font-weight: 400;
    font-style: normal;
  }

  .d .sie-header-menu_main-view_4 {
    left: 190px;
    top: 54px;
    width: 60px;
    height: 23px;
  }

  .m .sie-header-menu_main-view_4 {
    left: 202px;
    top: 109px;
    width: 102px;
    height: 17px;
    display: none;
  }

  .d .sie-header-menu_main-view_4-text {
    letter-spacing: 0.1em;
    font-size: 14px;
    font-family: 'Nunito Sans';
    font-weight: 400;
    font-style: normal;
  }

  .d .sie-header-menu_main-view_5 {
    left: 881px;
    top: 54px;
    width: 51px;
    height: 23px;
  }

  .m .sie-header-menu_main-view_5 {
    left: 126px;
    top: 187px;
    width: 102px;
    height: 17px;
    display: none;
  }

  .d .sie-header-menu_main-view_5-text {
    letter-spacing: 0.1em;
    font-size: 14px;
    font-family: 'Nunito Sans';
    font-weight: 400;
    font-style: normal;
  }

  .d .sie-header-menu_main-view_6 {
    left: 301px;
    top: 54px;
    width: 158px;
    height: 23px;
  }

  .m .sie-header-menu_main-view_6 {
    left: 19px;
    top: 130px;
    width: 102px;
    height: 17px;
    display: none;
  }

  .d .sie-header-menu_main-view_6-text {
    letter-spacing: 0.1em;
    font-size: 14px;
    font-family: 'Nunito Sans';
    font-weight: 400;
    font-style: normal;
  }

  .d .sie-header-menu_main-view_7 {
    left: 742px;
    top: 54px;
    width: 88px;
    height: 23px;
  }

  .m .sie-header-menu_main-view_7 {
    left: 13px;
    top: 164px;
    width: 102px;
    height: 17px;
    display: none;
  }

  .d .sie-header-menu_main-view_7-text {
    letter-spacing: 0.1em;
    font-size: 14px;
    font-family: 'Nunito Sans';
    font-weight: 400;
    font-style: normal;
  }

  .d .sie-header-menu_main-view_8 {
    left: 990px;
    top: 55px;
    width: 24px;
    height: 22px;
  }

  .m .sie-header-menu_main-view_8 {
    left: 108px;
    top: 140px;
    width: 50px;
    height: 50px;
    display: none;
  }

  .d .sie-header-menu_main-view_8 svg {
    fill: rgba(0, 0, 0, 1);
  }

  .m .sie-header-menu_main-view_8 svg {
    fill: rgba(255, 243, 238, 1);
  }

  .d .sie-header-menu_main-view_9 {
    left: 1036px;
    top: 55px;
    width: 24px;
    height: 22px;
  }

  .m .sie-header-menu_main-view_9 {
    left: 168px;
    top: 138px;
    width: 50px;
    height: 50px;
    display: none;
  }

  .d .sie-header-menu_main-view_9 svg {
    fill: rgba(0, 0, 0, 1);
  }

  .m .sie-header-menu_main-view_9 svg {
    fill: rgba(255, 243, 238, 1);
  }

  .d .sie-header-menu_main-view_10 {
    left: 1087px;
    top: 55px;
    width: 24px;
    height: 22px;
  }

  .m .sie-header-menu_main-view_10 {
    left: 226px;
    top: 136px;
    width: 50px;
    height: 50px;
    display: none;
  }

  .d .sie-header-menu_main-view_10 svg {
    fill: rgba(0, 0, 0, 1);
  }

  .m .sie-header-menu_main-view_10 svg {
    fill: rgba(255, 243, 238, 1);
  }

  .m .sib-header-menu .sis-header-menu_mobile-menu-view {
    background-color: transparent;
  }

  .d .sib-header-menu .sis-header-menu_mobile-menu-view {
    background-color: transparent;
  }

  .d .sie-header-menu_mobile-menu-view_0 {
    left: 67px;
    top: 43px;
    width: 1086px;
    height: 65px;
    display: none;
  }

  .m .sie-header-menu_mobile-menu-view_0 {
    left: 16px;
    top: 30px;
    width: 289px;
    height: 47px;
  }

  .d .sie-header-menu_mobile-menu-view_0 .se-simple {
    background-color: rgba(255, 255, 255, 1);
  }

  .m .sie-header-menu_mobile-menu-view_0 .se-simple {
    background-color: rgba(255, 255, 255, 1);
  }

  .d .sie-header-menu_mobile-menu-view_1 {
    left: 539px;
    top: 18px;
    width: 143px;
    height: 111px;
    display: none;
  }

  .m .sie-header-menu_mobile-menu-view_1 {
    left: 23px;
    top: 14px;
    width: 87px;
    height: 63px;
  }

  .d .sie-header-menu_mobile-menu-view_1-text {
    font-size: 120px;
    text-align: center;
    font-family: 'Bird and Thorn';
    font-weight: 400;
    font-style: normal;
  }

  .m .sie-header-menu_mobile-menu-view_1-text {
    font-size: 72px;
    text-align: center;
    font-family: 'Bird and Thorn';
    font-weight: 400;
    font-style: normal;
  }

  .d .sie-header-menu_mobile-menu-view_2 {
    left: 560px;
    top: -39px;
    width: 100px;
    height: 100px;
    display: none;
  }

  .m .sie-header-menu_mobile-menu-view_2 {
    left: 246px;
    top: 34px;
    width: 40px;
    height: 40px;
  }

  .d .sie-header-menu_mobile-menu-view_2 svg {
    fill: rgba(255, 243, 238, 1);
  }

  .m .sie-header-menu_mobile-menu-view_2 svg {
    fill: rgba(0, 0, 0, 1);
  }

  .sib-mobile-menu {
    z-index: 9;
  }

  .m .sib-mobile-menu {
    height: 1px;
    display: none;
  }

  .d .sib-mobile-menu {
    height: 400px;
    display: none;
  }

  .m .sib-mobile-menu .ss-bg {
    background-color: rgba(177, 178, 181, 1);
  }

  .d .sib-mobile-menu .ss-bg {
    background-color: rgba(255, 255, 255, 1);
  }

  .d .sie-mobile-menu_0 {
    left: 360px;
    top: 120px;
    width: 480px;
    height: 160px;
  }

  .m .sie-mobile-menu_0 {
    left: 16px;
    top: 79px;
    width: 289px;
    height: 320px;
  }

  .d .sie-mobile-menu_0 .se-simple {
    background-color: rgba(0, 0, 0, 1);
  }

  .m .sie-mobile-menu_0 .se-simple {
    background-color: rgba(255, 255, 255, 1);
  }

  .d .sie-mobile-menu_1 {
    left: 87px;
    top: 54px;
    width: 51px;
    height: 23px;
  }

  .m .sie-mobile-menu_1 {
    left: 128px;
    top: 110px;
    width: 65px;
    height: 21px;
  }

  .d .sie-mobile-menu_1-text {
    letter-spacing: 0.04em;
    font-family: 'Nunito Sans';
    font-weight: 400;
    font-style: normal;
  }

  .m .sie-mobile-menu_1-text {
    color: rgba(0, 0, 0, 1);
    letter-spacing: 0.1em;
    font-size: 14px;
    font-family: 'Nunito Sans';
    font-weight: 400;
    font-style: normal;
  }

  .d .sie-mobile-menu_2 {
    left: 881px;
    top: 54px;
    width: 51px;
    height: 23px;
  }

  .m .sie-mobile-menu_2 {
    left: 128px;
    top: 282px;
    width: 64px;
    height: 22px;
  }

  .d .sie-mobile-menu_2-text {
    letter-spacing: 0.04em;
    font-family: 'Nunito Sans';
    font-weight: 400;
    font-style: normal;
  }

  .m .sie-mobile-menu_2-text {
    color: rgba(0, 0, 0, 1);
    letter-spacing: 0.1em;
    font-size: 14px;
    font-family: 'Nunito Sans';
    font-weight: 400;
    font-style: normal;
  }

  .d .sie-mobile-menu_3 {
    left: 198px;
    top: 54px;
    width: 51px;
    height: 23px;
  }

  .m .sie-mobile-menu_3 {
    left: 122px;
    top: 153px;
    width: 76px;
    height: 22px;
  }

  .d .sie-mobile-menu_3-text {
    letter-spacing: 0.04em;
    font-family: 'Nunito Sans';
    font-weight: 400;
    font-style: normal;
  }

  .m .sie-mobile-menu_3-text {
    color: rgba(0, 0, 0, 1);
    letter-spacing: 0.1em;
    font-size: 14px;
    font-family: 'Nunito Sans';
    font-weight: 400;
    font-style: normal;
  }

  .d .sie-mobile-menu_4 {
    left: 308px;
    top: 54px;
    width: 151px;
    height: 23px;
  }

  .m .sie-mobile-menu_4 {
    left: 80px;
    top: 196px;
    width: 160px;
    height: 23px;
  }

  .d .sie-mobile-menu_4-text {
    letter-spacing: 0.04em;
    font-family: 'Nunito Sans';
    font-weight: 400;
    font-style: normal;
  }

  .m .sie-mobile-menu_4-text {
    color: rgba(0, 0, 0, 1);
    letter-spacing: 0.1em;
    font-size: 14px;
    font-family: 'Nunito Sans';
    font-weight: 400;
    font-style: normal;
  }

  .d .sie-mobile-menu_5 {
    left: 742px;
    top: 54px;
    width: 88px;
    height: 23px;
  }

  .m .sie-mobile-menu_5 {
    left: 117px;
    top: 239px;
    width: 86px;
    height: 22px;
  }

  .d .sie-mobile-menu_5-text {
    letter-spacing: 0.04em;
    font-family: 'Nunito Sans';
    font-weight: 400;
    font-style: normal;
  }

  .m .sie-mobile-menu_5-text {
    color: rgba(0, 0, 0, 1);
    letter-spacing: 0.1em;
    font-size: 14px;
    font-family: 'Nunito Sans';
    font-weight: 400;
    font-style: normal;
  }

  .d .sie-mobile-menu_6 {
    left: 990px;
    top: 55px;
    width: 24px;
    height: 22px;
  }

  .m .sie-mobile-menu_6 {
    left: 91px;
    top: 336px;
    width: 30px;
    height: 30px;
  }

  .d .sie-mobile-menu_6 svg {
    fill: rgba(0, 0, 0, 1);
  }

  .m .sie-mobile-menu_6 svg {
    fill: rgba(0, 0, 0, 1);
  }

  .d .sie-mobile-menu_7 {
    left: 1036px;
    top: 55px;
    width: 24px;
    height: 22px;
  }

  .m .sie-mobile-menu_7 {
    left: 145px;
    top: 336px;
    width: 30px;
    height: 30px;
  }

  .d .sie-mobile-menu_7 svg {
    fill: rgba(0, 0, 0, 1);
  }

  .m .sie-mobile-menu_7 svg {
    fill: rgba(0, 0, 0, 1);
  }

  .d .sie-mobile-menu_8 {
    left: 1087px;
    top: 55px;
    width: 24px;
    height: 22px;
  }

  .m .sie-mobile-menu_8 {
    left: 206px;
    top: 336px;
    width: 30px;
    height: 30px;
  }

  .d .sie-mobile-menu_8 svg {
    fill: rgba(0, 0, 0, 1);
  }

  .m .sie-mobile-menu_8 svg {
    fill: rgba(0, 0, 0, 1);
  }

  .d .sie-mobile-menu_9 {
    left: 360px;
    top: 120px;
    width: 480px;
    height: 160px;
  }

  .m .sie-mobile-menu_9 {
    left: 16px;
    top: 382px;
    width: 289px;
    height: 1px;
  }

  .d .sie-mobile-menu_9 .se-simple {
    background-color: rgba(0, 0, 0, 1);
  }

  .m .sie-mobile-menu_9 .se-simple {
    background-color: rgba(255, 243, 238, 1);
  }

  .d .sie-mobile-menu_10 {
    left: 370px;
    top: 130px;
    width: 480px;
    height: 160px;
  }

  .m .sie-mobile-menu_10 {
    left: 16px;
    top: 387px;
    width: 289px;
    height: 3px;
  }

  .d .sie-mobile-menu_10 .se-simple {
    background-color: rgba(0, 0, 0, 1);
  }

  .m .sie-mobile-menu_10 .se-simple {
    background-color: rgba(255, 243, 238, 1);
  }

  .m .sib-header-section {
    height: 408px;
  }

  .d .sib-header-section {
    height: 500px;
  }

  .m .sib-header-section .ss-bg {
    background-color: rgba(0, 0, 0, 1);
  }

  .d .sib-header-section .ss-bg {
    background-color: rgba(0, 0, 0, 1);
  }

  .d .sie-header-section_0 {
    left: 335px;
    top: 266px;
    width: 531px;
    height: 69px;
  }

  .m .sie-header-section_0 {
    left: 26px;
    top: 187px;
    width: 268px;
    height: 43px;
  }

  .d .sie-header-section_0-text {
    color: rgba(255, 255, 255, 1);
    text-align: center;
  }

  .m .sie-header-section_0-text {
    color: rgba(255, 255, 255, 1);
    font-size: 30px;
  }

  .d .sie-header-section_1 {
    left: 332px;
    top: 330px;
    width: 537px;
    height: 36px;
  }

  .m .sie-header-section_1 {
    left: 46px;
    top: 235px;
    width: 228px;
    height: 27px;
  }

  .d .sie-header-section_1-text {
    color: rgba(255, 255, 255, 1);
  }

  .m .sie-header-section_1-text {
    color: rgba(255, 255, 255, 1);
  }

  .m .sib-pain-point-value-section {
    height: 843px;
  }

  .d .sib-pain-point-value-section {
    height: 633px;
  }

  .m .sib-pain-point-value-section .ss-bg {
    background-color: rgba(255, 255, 255, 1);
  }

  .d .sib-pain-point-value-section .ss-bg {
    background-color: rgba(255, 255, 255, 1);
  }

  .d .sie-pain-point-value-section_0 {
    left: 211px;
    top: 69px;
    width: 779px;
    height: 126px;
  }

  .m .sie-pain-point-value-section_0 {
    left: 20px;
    top: 68px;
    width: 280px;
    height: 66px;
  }

  .d .sie-pain-point-value-section_0-text {
    text-align: center;
  }

  .d .sie-pain-point-value-section_1 {
    left: 269px;
    top: 235px;
    width: 662px;
    height: 37px;
  }

  .m .sie-pain-point-value-section_1 {
    left: 20px;
    top: 159px;
    width: 280px;
    height: 55px;
  }

  .d .sie-pain-point-value-section_2 {
    left: 135px;
    top: 305px;
    width: 412px;
    height: 240px;
  }

  .m .sie-pain-point-value-section_2 {
    left: 20px;
    top: 244px;
    width: 280px;
    height: 247px;
  }

  .d .sie-pain-point-value-section_2-text {
    text-align: justify;
  }

  .d .sie-pain-point-value-section_3 {
    left: 653px;
    top: 305px;
    width: 412px;
    height: 240px;
  }

  .m .sie-pain-point-value-section_3 {
    left: 20px;
    top: 523px;
    width: 280px;
    height: 248px;
  }

  .d .sie-pain-point-value-section_3-text {
    text-align: justify;
  }

  .m .sib-offers-section {
    height: 800px;
  }

  .d .sib-offers-section {
    height: 500px;
  }

  .m .sib-offers-section .ss-bg {
    background-color: rgba(255, 243, 238, 1);
  }

  .d .sib-offers-section .ss-bg {
    background-color: rgba(255, 243, 238, 1);
  }

  .d .sie-offers-section_0 {
    left: 0px;
    top: 0px;
    width: 500px;
    height: 500px;
  }

  .m .sie-offers-section_0 {
    left: 0px;
    top: 1px;
    width: 320px;
    height: 300px;
  }

  .d .sie-offers-section_0 .se-img {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
  }

  .m .sie-offers-section_0 .se-img {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
  }

  .d .sie-offers-section_1 {
    left: 0px;
    top: 0px;
    width: 500px;
    height: 500px;
  }

  .m .sie-offers-section_1 {
    left: 0px;
    top: 0px;
    width: 320px;
    height: 300px;
  }

  .d .sie-offers-section_1 .se-simple {
    background-color: rgba(0, 0, 0, 0.1);
  }

  .m .sie-offers-section_1 .se-simple {
    background-color: rgba(0, 0, 0, 0.1);
  }

  .d .sie-offers-section_2 {
    left: 550px;
    top: 54px;
    width: 521px;
    height: 64px;
  }

  .m .sie-offers-section_2 {
    left: 33px;
    top: 342px;
    width: 254px;
    height: 37px;
  }

  .m .sie-offers-section_2-text {
    font-size: 30px;
  }

  .d .sie-offers-section_3 {
    left: 550px;
    top: 141px;
    width: 575px;
    height: 36px;
  }

  .m .sie-offers-section_3 {
    left: 52px;
    top: 393px;
    width: 212px;
    height: 55px;
  }

  .d .sie-offers-section_3-text {
    text-align: left;
  }

  .d .sie-offers-section_4 {
    left: 550px;
    top: 209px;
    width: 575px;
    height: 133px;
  }

  .m .sie-offers-section_4 {
    left: 28px;
    top: 467px;
    width: 260px;
    height: 200px;
  }

  .d .sie-offers-section_5 {
    left: 550px;
    top: 373px;
    width: 184px;
    height: 73px;
  }

  .m .sie-offers-section_5 {
    left: 78px;
    top: 694px;
    width: 164px;
    height: 64px;
  }

  .d .sie-offers-section_5 .se-simple {
    background-color: rgba(255, 224, 213, 1);
  }

  .m .sie-offers-section_5 .se-simple {
    background-color: rgba(255, 224, 213, 1);
  }

  .d .sie-offers-section_6 {
    left: 567px;
    top: 392px;
    width: 150px;
    height: 37px;
  }

  .m .sie-offers-section_6 {
    left: 109px;
    top: 712px;
    width: 102px;
    height: 29px;
  }

  .d .sie-offers-section_6-text {
    color: rgba(0, 0, 0, 1);
  }

  .m .sie-offers-section_6-text {
    color: rgba(0, 0, 0, 1);
  }

  .m .sib-offers-section-2 {
    height: 800px;
  }

  .d .sib-offers-section-2 {
    height: 500px;
  }

  .m .sib-offers-section-2 .ss-bg {
    background-color: rgba(255, 255, 255, 1);
  }

  .d .sib-offers-section-2 .ss-bg {
    background-color: rgba(255, 255, 255, 1);
  }

  .d .sie-offers-section-2_0 {
    left: 700px;
    top: 0px;
    width: 500px;
    height: 500px;
  }

  .m .sie-offers-section-2_0 {
    left: 0px;
    top: 0px;
    width: 320px;
    height: 300px;
  }

  .d .sie-offers-section-2_0 .se-img {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
  }

  .m .sie-offers-section-2_0 .se-img {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
  }

  .d .sie-offers-section-2_1 {
    left: 700px;
    top: 0px;
    width: 500px;
    height: 500px;
  }

  .m .sie-offers-section-2_1 {
    left: 0px;
    top: 0px;
    width: 320px;
    height: 300px;
  }

  .d .sie-offers-section-2_1 .se-simple {
    background-color: rgba(0, 0, 0, 0.1);
  }

  .m .sie-offers-section-2_1 .se-simple {
    background-color: rgba(0, 0, 0, 0.1);
  }

  .d .sie-offers-section-2_2 {
    left: 50px;
    top: 54px;
    width: 567px;
    height: 64px;
  }

  .m .sie-offers-section-2_2 {
    left: 25px;
    top: 342px;
    width: 270px;
    height: 40px;
  }

  .m .sie-offers-section-2_2-text {
    font-size: 30px;
  }

  .d .sie-offers-section-2_3 {
    left: 50px;
    top: 141px;
    width: 567px;
    height: 36px;
  }

  .m .sie-offers-section-2_3 {
    left: 59px;
    top: 393px;
    width: 202px;
    height: 55px;
  }

  .d .sie-offers-section-2_3-text {
    text-align: left;
  }

  .d .sie-offers-section-2_4 {
    left: 50px;
    top: 209px;
    width: 575px;
    height: 133px;
  }

  .m .sie-offers-section-2_4 {
    left: 34px;
    top: 467px;
    width: 260px;
    height: 204px;
  }

  .d .sie-offers-section-2_5 {
    left: 50px;
    top: 373px;
    width: 184px;
    height: 73px;
  }

  .m .sie-offers-section-2_5 {
    left: 78px;
    top: 694px;
    width: 164px;
    height: 64px;
  }

  .d .sie-offers-section-2_5 .se-simple {
    background-color: rgba(255, 224, 213, 1);
  }

  .m .sie-offers-section-2_5 .se-simple {
    background-color: rgba(255, 224, 213, 1);
  }

  .d .sie-offers-section-2_6 {
    left: 67px;
    top: 392px;
    width: 150px;
    height: 37px;
  }

  .m .sie-offers-section-2_6 {
    left: 109px;
    top: 712px;
    width: 102px;
    height: 29px;
  }

  .d .sie-offers-section-2_6-text {
    color: rgba(0, 0, 0, 1);
  }

  .m .sie-offers-section-2_6-text {
    color: rgba(0, 0, 0, 1);
  }

  .m .sib-faq {
    height: 1435px;
  }

  .d .sib-faq {
    height: 924px;
  }

  .m .sib-faq .ss-bg {
    background-color: rgba(255, 255, 255, 1);
  }

  .d .sib-faq .ss-bg {
    background-color: rgba(255, 255, 255, 1);
  }

  .d .sie-faq_0 {
    left: 0px;
    top: 0px;
    width: 480px;
    height: 400px;
  }

  .m .sie-faq_0 {
    left: 0px;
    top: 0px;
    width: 320px;
    height: 200px;
  }

  .d .sie-faq_0 .se-simple {
    background-color: rgba(236, 237, 242, 1);
  }

  .m .sie-faq_0 .se-simple {
    background-color: rgba(236, 237, 242, 1);
  }

  .d .sie-faq_1 {
    left: 96px;
    top: 106px;
    width: 289px;
    height: 188px;
  }

  .m .sie-faq_1 {
    left: 65px;
    top: 53px;
    width: 190px;
    height: 95px;
  }

  .d .sie-faq_2 {
    left: 525px;
    top: 52px;
    width: 625px;
    height: 33px;
  }

  .m .sie-faq_2 {
    left: 20px;
    top: 237px;
    width: 280px;
    height: 40px;
  }

  .d .sie-faq_2-text {
    font-size: 18px;
    text-align: left;
  }

  .m .sie-faq_2-text {
    line-height: 1.3;
    text-align: left;
  }

  .d .sie-faq_3 {
    left: 525px;
    top: 93px;
    width: 625px;
    height: 82px;
  }

  .m .sie-faq_3 {
    left: 20px;
    top: 299px;
    width: 280px;
    height: 132px;
  }

  .d .sie-faq_4 {
    left: 525px;
    top: 226px;
    width: 625px;
    height: 33px;
  }

  .m .sie-faq_4 {
    left: 20px;
    top: 473px;
    width: 280px;
    height: 42px;
  }

  .d .sie-faq_4-text {
    font-size: 18px;
    text-align: left;
  }

  .m .sie-faq_4-text {
    line-height: 1.3;
    text-align: left;
  }

  .d .sie-faq_5 {
    left: 525px;
    top: 267px;
    width: 625px;
    height: 82px;
  }

  .m .sie-faq_5 {
    left: 20px;
    top: 531px;
    width: 280px;
    height: 136px;
  }

  .d .sie-faq_6 {
    left: 525px;
    top: 399px;
    width: 625px;
    height: 33px;
  }

  .m .sie-faq_6 {
    left: 20px;
    top: 712px;
    width: 280px;
    height: 40px;
  }

  .d .sie-faq_6-text {
    font-size: 18px;
    text-align: left;
  }

  .m .sie-faq_6-text {
    line-height: 1.3;
    text-align: left;
  }

  .d .sie-faq_7 {
    left: 525px;
    top: 440px;
    width: 625px;
    height: 82px;
  }

  .m .sie-faq_7 {
    left: 20px;
    top: 774px;
    width: 280px;
    height: 132px;
  }

  .d .sie-faq_8 {
    left: 525px;
    top: 573px;
    width: 625px;
    height: 33px;
  }

  .m .sie-faq_8 {
    left: 20px;
    top: 948px;
    width: 280px;
    height: 42px;
  }

  .d .sie-faq_8-text {
    font-size: 18px;
    text-align: left;
  }

  .m .sie-faq_8-text {
    line-height: 1.3;
    text-align: left;
  }

  .d .sie-faq_9 {
    left: 525px;
    top: 614px;
    width: 625px;
    height: 82px;
  }

  .m .sie-faq_9 {
    left: 20px;
    top: 1006px;
    width: 280px;
    height: 136px;
  }

  .d .sie-faq_10 {
    left: 525px;
    top: 747px;
    width: 625px;
    height: 33px;
  }

  .m .sie-faq_10 {
    left: 20px;
    top: 1186px;
    width: 280px;
    height: 42px;
  }

  .d .sie-faq_10-text {
    font-size: 18px;
    text-align: left;
  }

  .m .sie-faq_10-text {
    line-height: 1.3;
    text-align: left;
  }

  .d .sie-faq_11 {
    left: 525px;
    top: 788px;
    width: 625px;
    height: 82px;
  }

  .m .sie-faq_11 {
    left: 20px;
    top: 1244px;
    width: 280px;
    height: 136px;
  }

  .m .sib-footer-menu {
    height: 407px;
  }

  .d .sib-footer-menu {
    height: 194px;
  }

  .m .sib-footer-menu .ss-bg {
    background-color: rgba(255, 243, 238, 1);
  }

  .d .sib-footer-menu .ss-bg {
    background-color: rgba(255, 243, 238, 1);
  }

  .d .sie-footer-menu_0 {
    left: 57px;
    top: 45px;
    width: 1086px;
    height: 65px;
  }

  .m .sie-footer-menu_0 {
    left: 16px;
    top: 30px;
    width: 289px;
    height: 47px;
  }

  .d .sie-footer-menu_0 .se-simple {
    background-color: rgba(255, 255, 255, 1);
  }

  .m .sie-footer-menu_0 .se-simple {
    background-color: rgba(255, 255, 255, 1);
  }

  .d .sie-footer-menu_1 {
    left: 57px;
    top: 117px;
    width: 1086px;
    height: 30px;
  }

  .m .sie-footer-menu_1 {
    left: 16px;
    top: 84px;
    width: 289px;
    height: 241px;
  }

  .d .sie-footer-menu_1 .se-simple {
    background-color: rgba(255, 255, 255, 1);
  }

  .m .sie-footer-menu_1 .se-simple {
    background-color: rgba(255, 255, 255, 1);
  }

  .d .sie-footer-menu_2 {
    left: 529px;
    top: 18px;
    width: 143px;
    height: 111px;
  }

  .m .sie-footer-menu_2 {
    left: 23px;
    top: 14px;
    width: 87px;
    height: 63px;
  }

  .d .sie-footer-menu_2-text {
    font-size: 120px;
    text-align: center;
    font-family: 'Bird and Thorn';
    font-weight: 400;
    font-style: normal;
  }

  .m .sie-footer-menu_2-text {
    font-size: 72px;
    text-align: center;
    font-family: 'Bird and Thorn';
    font-weight: 400;
    font-style: normal;
  }

  .d .sie-footer-menu_3 {
    left: 87px;
    top: 68px;
    width: 375px;
    height: 19px;
  }

  .m .sie-footer-menu_3 {
    left: 40px;
    top: 356px;
    width: 240px;
    height: 25px;
  }

  .d .sie-footer-menu_3-text {
    letter-spacing: 0.1em;
    font-size: 12px;
    text-align: left;
    font-family: 'Nunito Sans';
    font-weight: 400;
    font-style: normal;
  }

  .m .sie-footer-menu_3-text {
    line-height: 1.2;
    font-size: 12px;
    font-family: 'Nunito Sans';
    font-weight: 400;
    font-style: normal;
  }

  .d .sie-footer-menu_4 {
    left: 990px;
    top: 66px;
    width: 24px;
    height: 22px;
  }

  .m .sie-footer-menu_4 {
    left: 160px;
    top: 39px;
    width: 30px;
    height: 30px;
  }

  .d .sie-footer-menu_4 svg {
    fill: rgba(0, 0, 0, 1);
  }

  .m .sie-footer-menu_4 svg {
    fill: rgba(0, 0, 0, 1);
  }

  .d .sie-footer-menu_5 {
    left: 1036px;
    top: 66px;
    width: 24px;
    height: 22px;
  }

  .m .sie-footer-menu_5 {
    left: 208px;
    top: 39px;
    width: 30px;
    height: 30px;
  }

  .d .sie-footer-menu_5 svg {
    fill: rgba(0, 0, 0, 1);
  }

  .m .sie-footer-menu_5 svg {
    fill: rgba(0, 0, 0, 1);
  }

  .d .sie-footer-menu_6 {
    left: 1087px;
    top: 66px;
    width: 24px;
    height: 22px;
  }

  .m .sie-footer-menu_6 {
    left: 260px;
    top: 39px;
    width: 30px;
    height: 30px;
  }

  .d .sie-footer-menu_6 svg {
    fill: rgba(0, 0, 0, 1);
  }

  .m .sie-footer-menu_6 svg {
    fill: rgba(0, 0, 0, 1);
  }

  .d .sie-footer-menu_7 {
    left: 881px;
    top: 68px;
    width: 51px;
    height: 19px;
  }

  .m .sie-footer-menu_7 {
    left: 164px;
    top: 283px;
    width: 102px;
    height: 22px;
  }

  .d .sie-footer-menu_7-text {
    letter-spacing: 0.1em;
    font-size: 12px;
    font-family: 'Nunito Sans';
    font-weight: 400;
    font-style: normal;
  }

  .m .sie-footer-menu_7-text {
    font-size: 13px;
    font-family: 'Nunito Sans';
    font-weight: 400;
    font-style: normal;
  }

  .d .sie-footer-menu_8 {
    left: 774px;
    top: 68px;
    width: 68px;
    height: 19px;
  }

  .m .sie-footer-menu_8 {
    left: 55px;
    top: 283px;
    width: 102px;
    height: 22px;
  }

  .d .sie-footer-menu_8-text {
    letter-spacing: 0.1em;
    font-size: 12px;
    font-family: 'Nunito Sans';
    font-weight: 400;
    font-style: normal;
  }

  .m .sie-footer-menu_8-text {
    font-size: 13px;
    font-family: 'Nunito Sans';
    font-weight: 400;
    font-style: normal;
  }

  .d .sie-footer-menu_9 {
    left: 87px;
    top: 122px;
    width: 60px;
    height: 19px;
  }

  .m .sie-footer-menu_9 {
    left: 55px;
    top: 147px;
    width: 102px;
    height: 22px;
  }

  .d .sie-footer-menu_9-text {
    letter-spacing: 0.1em;
    font-size: 12px;
    text-align: left;
    font-family: 'Nunito Sans';
    font-weight: 400;
    font-style: normal;
  }

  .m .sie-footer-menu_9-text {
    font-size: 13px;
    font-family: 'Nunito Sans';
    font-weight: 400;
    font-style: normal;
  }

  .d .sie-footer-menu_10 {
    left: 178px;
    top: 122px;
    width: 62px;
    height: 19px;
  }

  .m .sie-footer-menu_10 {
    left: 164px;
    top: 147px;
    width: 102px;
    height: 22px;
  }

  .d .sie-footer-menu_10-text {
    letter-spacing: 0.1em;
    font-size: 12px;
    text-align: left;
    font-family: 'Nunito Sans';
    font-weight: 400;
    font-style: normal;
  }

  .m .sie-footer-menu_10-text {
    font-size: 13px;
    font-family: 'Nunito Sans';
    font-weight: 400;
    font-style: normal;
  }

  .d .sie-footer-menu_11 {
    left: 277px;
    top: 122px;
    width: 161px;
    height: 19px;
  }

  .m .sie-footer-menu_11 {
    left: 63px;
    top: 192px;
    width: 195px;
    height: 22px;
  }

  .d .sie-footer-menu_11-text {
    letter-spacing: 0.1em;
    font-size: 12px;
    text-align: left;
    font-family: 'Nunito Sans';
    font-weight: 400;
    font-style: normal;
  }

  .m .sie-footer-menu_11-text {
    font-size: 13px;
    font-family: 'Nunito Sans';
    font-weight: 400;
    font-style: normal;
  }

  .d .sie-footer-menu_12 {
    left: 789px;
    top: 122px;
    width: 55px;
    height: 19px;
  }

  .m .sie-footer-menu_12 {
    left: 55px;
    top: 238px;
    width: 102px;
    height: 22px;
  }

  .d .sie-footer-menu_12-text {
    letter-spacing: 0.1em;
    font-size: 12px;
    text-align: left;
    font-family: 'Nunito Sans';
    font-weight: 400;
    font-style: normal;
  }

  .m .sie-footer-menu_12-text {
    font-size: 13px;
    font-family: 'Nunito Sans';
    font-weight: 400;
    font-style: normal;
  }

  .d .sie-footer-menu_13 {
    left: 877px;
    top: 122px;
    width: 78px;
    height: 19px;
  }

  .m .sie-footer-menu_13 {
    left: 164px;
    top: 238px;
    width: 102px;
    height: 22px;
  }

  .d .sie-footer-menu_13-text {
    letter-spacing: 0.1em;
    font-size: 12px;
    text-align: left;
    font-family: 'Nunito Sans';
    font-weight: 400;
    font-style: normal;
  }

  .m .sie-footer-menu_13-text {
    font-size: 13px;
    font-family: 'Nunito Sans';
    font-weight: 400;
    font-style: normal;
  }

  .d .sie-footer-menu_14 {
    left: 999px;
    top: 122px;
    width: 133px;
    height: 19px;
  }

  .m .sie-footer-menu_14 {
    left: 103px;
    top: 107px;
    width: 114px;
    height: 22px;
  }

  .d .sie-footer-menu_14-text {
    letter-spacing: 0.1em;
    font-size: 12px;
    text-align: left;
    font-family: 'Nunito Sans';
    font-weight: 400;
    font-style: normal;
  }

.m .sie-footer-menu_14-text {
  font-size: 13px;
  font-family: 'Nunito Sans';
  font-weight: 400;
  font-style: normal;
}
